* {
  box-sizing: border-box;
}

/* @font-face {
  font-family: '__Knif Mono_5';
  src: url('../fonts/knifmono.eot');
  src: url('../fonts/knifmono.woff') format('woff'), url('../fonts/knifmono.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:'PitchWeb-Regular';
  src: url('../fonts/PitchWeb-Regular.woff2') format('woff2'),
    url('../fonts/PitchWeb-Regular.woff') format('woff') ;
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:'PitchSansWeb-Medium';
  src: url('../fonts/PitchSansWeb-Medium.woff2') format('woff2');
  font-style:normal;font-weight:400;
} */

@font-face {
  font-family:'PitchSansWeb-Bold';
  src: url('../fonts/PitchSansWeb-Bold.woff2') format('woff2');
  font-style:bold;font-weight:700;
}

@font-face {
  font-family:'PitchSansWeb-Regular';
  src: url('../fonts/PitchSansWeb-Regular.woff2') format('woff2');
  font-style:normal;font-weight:400;
}

html {
  --space-sm: 15px;
  --space-md: 20px;

  --color-base: #f4f4f4;
  --color-contrast-sm: white;
  --color-contrast-md: #ddd;
  --color-contrast-lg: black;
  --color-pop: blue;
}

html.dark {
  --color-base: black;
  --color-contrast-sm: #424242;
  --color-contrast-md: #ddd;
  --color-contrast-lg: white;
  --color-pop: indianred;
}

body {
  display: flex;
  margin: var(--space-md);
  align-items: start;
  justify-content: space-between;
  /* font-family: 'Space Mono', monospaced; */
  font-family: 'PitchSansWeb-Regular';
  font-size: 1rem;
  line-height: 1.34;
  /* text-rendering: optimizeLegibility; */
  background: var(--color-base);
  color: var(--color-contrast-lg);
}

.description {
  max-width: 300px;
  margin-right: var(--space-md);
}

h1 {
  /* font-weight: bold; */
  font-family: 'PitchSansWeb-Bold';
  font-size: 2.4rem;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--color-pop);
}

canvas {
  border: var(--space-md) solid var(--color-pop);
  background-size: cover;
  background-position: center center;
}

.config {
  margin-left: var(--space-md);
}

section {
  margin-bottom: var(--space-md);
}

a { color: var(--color-pop); }