* {
  box-sizing: border-box;
}

@font-face {
  font-family:'Pitch Sans';
  src: url('../fonts/pitchsansregular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family:'Pitch Sans';
  src: url('../fonts/pitchsansbold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family:'PitchSansBold';
  src: url('../fonts/pitchsansbold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Pitch';
  src: url('../fonts/PitchSansWeb-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Pitch';
  src: url('../fonts/PitchSansWeb-RegularItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
}

html {
  --space-sm: 15px;
  --space-md: 20px;

  --color-base: #111;
  --color-contrast-sm: #444;
  --color-contrast-md: #ddd;
  --color-contrast-lg: white;
  --color-pop: #0e1;
}

html.dark {
  --color-base: #eee;
  --color-contrast-sm: white;
  --color-contrast-md: #ddd;
  --color-contrast-lg: black;
  --color-pop: #f00;
}

body {
  display: flex;
  margin: var(--space-md);
  align-items: start;
  justify-content: space-between;
  font-family: 'Pitch', monospaced;
  font-size: 1rem;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
  background: var(--color-base);
  color: var(--color-contrast-lg);
}

.description {
  max-width: 300px;
  margin-right: var(--space-md);
}

h1 {
  font-weight: 700;
  font-family: 'Pitch Sans';
  font-size: 2.4rem;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--color-pop);
}

canvas {
  /* border: var(--space-md) solid var(--color-pop); */
  background-size: cover;
  background-position: center center;
}

.config {
  margin-left: var(--space-md);
}

section {
  margin-bottom: var(--space-md);
}

a { color: var(--color-pop); }