* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'KnifMono-Regular';
  src: url('fonts/KnifMono-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KnifMono-Regular';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAILUABQAAAABKVgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABHREVGAACBYAAAABoA
AAAcAO0ABEdQT1MAAIF8AAAALAAAADC4/7j+R1NVQgAAgagAAAEpAAACQOpayG5MVFNIAAAEFAAA
AB8AAADnmplyj09TLzIAAAI0AAAATwAAAGB7A68jVkRNWAAABDQAAAOVAAAF4GircCBjbWFwAAAJ
xAAAAesAAANgx2nY+2N2dCAAABMwAAAAdwAAAKARYWKLZnBnbQAAC7AAAAaPAAANCicFk8dnYXNw
AACBWAAAAAgAAAAI//8AEGdseWYAABOoAABPwgAAlLRbcFXVaGRteAAAB8wAAAH2AAAU4FnBuiBo
ZWFkAAABvAAAADYAAAA2DQ1+6WhoZWEAAAH0AAAAIAAAACQMPgTvaG10eAAAAoQAAAGPAAADjBlt
hS1sb2NhAABjbAAAAbwAAAHIFDs47G1heHAAAAIUAAAAIAAAACADjg2abmFtZQAAZSgAABpWAABa
DSquE4dwb3N0AAB/gAAAAdgAAAKeWbSQEXByZXAAABJAAAAA7wAAAS1qbriMAAEAAAACAAABGUnu
Xw889QAfCAAAAAAA1FTMVQAAAADU2GiT/7T+EgT4BvIAAAAIAAIAAAAAAAB42mNgZGBg7//rysDA
9un/lv9XWH4wAEVQwGMAszsIOAABAAAA4wBcAAcAAAAAAAIAIgAyAIEAAAIADQoAAAAAeNpjYGZZ
wjiBgZWBhdWY5SwDA8MsCM10liGNSRJIMzBwsgOFGZiBGMyAgYDIoGAGBwYF1T9sDP9Akv1MuxUY
GCaDFTeypgEpIBcAT+kMRgB42nWTTyhEURSHz33zkoWFhZKVJgsmTbLQZCGbSZI0TZqV1SgLJU2S
ZD3NQpKUpEmSlSykaRaalP2ULGQh9lMW02RhIc933z0yXrz6+p13/5x7zu++571KWni8cxG/bjEV
yBAPwplfDx7RJcY+4Ym4gSZRYnMJnXAFWcZWYQP2YQ8KcAQncACsl2vWrgFjxp7Zcmq6iCdhGpY1
zwjk4RQ2YRZyOmd1AcaVeSCvzEFWz6NuSdADtUscBsCHEuc1wc4fon3ohF/3+tEqjEENdlXt2IXW
xl7Z0rjg8su69mvzlXXfs/aT0rVTkNYx+jHk8OjPFJyXofe3ep7NteNqtWvknrk5V6PpRlec7+H7
GxSJH1CQjHps76ShddxAUplh/Fhr+oOgov7mI+R+E9y1+R7lXTURwXd9ht9J9R/S6kGUUoRym+9R
ztW/VATr/aiq9XXY1WS/XROPbYp0tES+1cuImBoMOeQFXUTz4V11/mDvM/jQ/+GbnrZ57ito2r28
b9s7tHnVo95Y0f17Xya/FTcAeNpjYGB47M3IyOhNU8CIg009C1AAimUgHiMA9LE9CQB42h3LU0Af
DBxG4bO72bZt27Zt27Zt26zWVlstrVpcQ2ustmprbm5s/H3v9z8Xz90BUpHq/0hPSmojNantL2lI
Y39IS1qZjnQyPentNxnIIDOSUWYik/0iM5llFrLIrGS1n2RzmJ1sMgfZLYWc5JC5yClzk8t+kIfc
Mi95ZD7y2nfyk08WIL8sSAH7RiEKysIUkkUobF8pShFZjKKyOMXsCyUclqS4LEUJ+0xpSsoylJJl
KW3JlKOMLE9Z+0QFysmKlJeVqGAfqUxFWYVKsiqV7QPVqCKrU1XWoJq9pybVZS2Htalh76hDTVmX
WrIete0t9akjG1BXNqSevaER9WVjGsgmNLQkmtJINqOxbE4Te00LmsqWNJOtaG6vaE0L2cZhW1ra
S9rRSrantexAG3tBR9rKTrSTnWlvz+lCB9mVjrIbnewZ3ekse9DFntKTrrIX3WRvulsifegh+9JT
9pNP6E8vOYDeciB97DGD6CsH008Oob8lMJQBchgD5XAGWTwjGCxHMkSOYqjFMZphcgzD5VhG2CPG
MVKOZ5ScIB8ykdFyEmPkZMZaLFMYJ6cyXk5jgsUwnYlyBpPkTCZbNLOYImczVc5hmj1gLtPlPGbI
+cy0+yxgllzIbLvHIoeLmSOXMNfuspR5chnz5XIW2B1WsFCuZJFcxWK7zWqWyDUslWtZZlGsY7lc
zwq5gZV2i42skptYLTezxiLZ4nAra+U21tlNtrNe7mCD3MlGu8EuNsndbJZ72GLX2ctWuY9tcj/b
7RoH2CEPslMeYpdFcJjd8gh75FH22lWOsU8ed3iC/RbOSQ7IUxyUpzlkYZzhsHTiiIXizFHpwjF5
luMWgisn5DlOyvOcsmDcOC3dOSMv4GRBXMRZeuAiPeUVLnFWeuEqvTlngfhwXvriJv1wtwAuc0H6
c1EG4GH+BOIpdcsgvOwywXjLEHxkKL7mRxh+MpzL8qr0JQJ/eY0AeZ1A8+EGV+RNgmQkwebNLUJk
FKHyNmHmxR3C5V2u2iXuESHvc00+4Lp5Es0NGcNNGUukefDQ4SNuyTii7CLx3JYJ3JGPuWsXeMI9
mch9+ZQH5s4zouVzYuQLYs2NlzyUr3gkXxNn50kiXr4hQb7lsZ3jncP3PJEfSDRXPvJUfuKZTOa5
neUzL+QXXsqvvDIXvvFafidJ/uCNOZPCW/mTd/IX782J33yQf/hoZ/jLJ/nPoZFsp/8DsRu9gAAA
AHja3Zc9jtswEEZH5PBfpERJllZZyZAhLyDEcAy4SOHOSJn73yHHyETrhsBegHmY6n3VawgQAAYA
+GM0By4yBzVqzoqiYJB4th8KCrUGgcvMQYPm1Zl4th9K6nQWAVXmCCssZ4wVrEg8208o6iz/m07+
ZSd/dXonAHXmSCcdfnYmnmnNadXUWXkBwmSO8sr/62S8SDzfTxnqrIMEYTNHBRXEZ2fi+X7KUmes
JMjsOytVCfyyE1+dbVQgXeboqKNEeol4kXjuHNLqqPPQaFA+c0xjGimoE4vEo/eCVk+dbwcDOmSO
PdiDok6OReIxBBGCC9T5PlgwdeaUQzloichFkXhR15LWmjrn0YGNmeNHP746Ey9ilLRG6lymElyb
OWEKk1FCcMkSL9tW0dpS52mmzi5zwhxmS50oWeJl16muqzrq/FgClH3m1Eu9OL13Jl72vaa1p87v
5wrCmDnNuTmXRkqhWOLVOBpaR+r8sUWopszptm7zln4mmiVeT5OldaLO+6WBeMyc/tJfgqNOwxJv
jkdH65E6f946aJbMGW7DrS7pB2Z44s2ylMvytlDn436Ads2c8T7eo6dOyxNv19Wv67eVOn893qDf
Mmd+zI+2op9JyRNfbltF60adv5/vMF4z5/Q8PfuafiYeE++v15rWK3X+Bb97dPAAAHja1ZLXT9RB
EMc/vxNBwAKCioi4nIINRcEG9obYEMHesMagGLvig2DDbqyxJeohFpQzChwCRzwEje92JBg2MfpP
KFmH8xJ89NVvsrOzs9+Z7Mx3gQ54l82BRRui5CSepfG3XstZ8VUifnTEnwA6EUgQwXSmC13pRgih
dCeMcHrQk15E0JtI+kiVvkTTT7JjsNOfAcQSx0AGMZghDCWeYQwngRGMJJEkRjGaMYxlHMmkMJ4J
TGQSk5nCVKYxnRnMJJVZpDGbOcxlHvNJZwEZLCSTLBaxmCUsZRnLWcFKVrGaNWSzlnXSwxGOUsgJ
znOFm9zhNg7uUkQx93nIA0p4RCmPcfKEp5TxjHJcVFBNFTW4pcJONrKJHL6wl1tsZyua3WyRm2Nc
FbvLO7vN7KEdueSJvcdzDrLhr/g2DtDEevI5zGU81PGWd3ziM+/5QKUwXvBSbAvNMvs/2MdHGmU/
xEkKOMVxznCWc5zmIpckfoHr3OCaePU0sMOXtV90a6sULzr4iWb50mWZdGWsLCvP9sbWrIJUuIpU
0cqu4lSCSlHZyhljj/1ljFd5h8zDhdvK9LFRISpCRfnYye1s8800mHpTZzwm16S1/mz9oV9pj67V
bl2lXdqpi3WBTmrxNH33/bJ/xX/+/t/W8clWAHjarVdZc9RGEB7tYRsbH8HYEBTIiPE6xDtaCOEw
sICRVrsB51hjSCQIoPWuCZATEirkIPFLXvSQ39IySdXyxh9LJV/PHhhjJ1VUXC71Nz2ferp7elqz
JLQkcTUMIikX22JsaZEGlq+FdMymQ1F8WyZXQ8oUGk+HxJBoNtWK7TgkIhK+qqwLS/ix55KlSca3
Xcpo2ZL0rE652Wvrh6xhP2gGl6+HjnLsJJRUr4cOLUS2pHlG81Ek0w6p0aJDUHVHko7w/BFmPquH
Ek4kDUnD9TCGRvLcMKMTjE7EdhxFkU1WMYoUiXq4GkUuZbWEnVyhAYfyfj2kvPJoQHlwPyIrdimn
FfySrTS/4kme6SzOT8rGQZOycw70vkxkAtvpkXwBYS2Fcd1uXI5CFWF2YTnElM1BdVd2Ka9p0C+u
i0wnNQMYKk8hxcprUGblNllNrE/5OZcGtWQnR/xmOydWJFughThiSlwxTg7p9cER4QfenNNP9g79
YvKHO1asIlzwEXEsg0Q1eCNMpoTN2SRpw8mel5QtqEals8TINq/TDN4S9vPQNr60U5uA1keGs0Ho
2MqJ5hyXRnWayQTUalRcGtMgSkk7/Uv8OoDyIhrl0WWMRjFyaRxmJkxKJDLQxLo05scyiSWNIWku
TejFK2Gaa1WiGRpdVY9cek0vLoWLyx2l7UA/afS7dCrG/athOj7uk9XwaLzIRYrS9dKd/BjFg6xp
7ES2UA9TTh6i9RJsLy875yi81sN2Z55fQe2zJkIkNfhfg/bFrdpmA1MhJhWy5ZM4t25ZltmrSS1S
kQmuhDSuPBnQCIpyWKHePBlj+T8nJiwxJjwvidNdA0V6WLQPIk27Edtk0aUpnVosp5Fnlnt0mmW5
V6c5lq/rNM9yn04HWNo6HWT5hk6HWO7X6Q6Wb2tZIuuGS3MG3HepaMADlw5oQaPFV/DxTfh4ALYl
fGTpwEeWB+EjSwUfWc7AR5YF+MhyFj6yfAs+sjwEH1lqLcum1FyNZSdi6WN/Yt9sB46P5noraXKL
5OIkHUYR1+Q2O6Ea84rb2L8yUEouHelvjzVNh+fSvDUVhGhDHOA7GzPz8vRRLY8bf98FzwpeXgQn
bMvFWS+m/xD8Vzmn5tOj1hQiOob44fDW/qKwG/MuHdelPWWXTvwXFUXYBP0ktkRMF2RJ1vjwIpUX
k6SmajjtIdo62iJO9AnLmtqN9efRZaZxQPBvKLTDL64mJSVlOYGtU8+nZaljg3KwCZakmM/7wlL4
JCOz0n6Smc3uizzugUPopsqwVRWnz998lGLuQ51mn/HjForOb7QwnfEbNnDMPWjzOw24hMasqthD
hRWqiAvCrAJ7WyyiOt0uhwOO3OdRUPmXrMIiR1QwTuBZ73S552thy09zDiQ0+dluDlQZqTlj1DSE
wyNlVdV4Md6tskkZB9DNqLgSlmQZ30b2uKuU7Esv5QMFjC5u/Pp2NmqrCu7ujOIyPtv1wO9tTcyf
580h9rbynFayxFmrojGXo1JasnbjAJ7vq+sb1QsvsrfkXNA0X9zSqKfpVDHBwlws8PZlDralRCVQ
/X6F9bLLxaVQ6iUcko65CpoGevgrlGLt/6o+dp/7S1mhhWzYbyfq+hhwMnrxVzl+R3UT0I2jH3IN
IU91Die+7jiHkyU6hrP43jb6i+i51u5JOg58SdNJiEXOWoC8yio+Zb08va+5HGkR8AO9jj4D8CGA
xeAjvW4ZTR3AaJaYEwBcZg6DZeYwuMIcBleZcwHgY+Yw+IQ5DELmMIiY4wNcYw6D68xh8ClzGNxg
ThXgJnMY3GIOg5g5DBrM8QBWmMOgyRwGLeYwWNV0up/m2zygc0CfGXQe6I6pJwwWMLir6UyffY8H
hv25Qcz+wiCmfqmp3Kd+xQND/dogpn5jEFPvazrbpz7ggaF+axBTvzOIqQ/1kx25TO/y5BVpaJWy
M/VHvW+K2xbfa1zHh/iqYv0eta2/f2uLyv6n6APZWzcx/YjvbXfNdawtftBQ4JPYFj9qWUWd4kip
iK+uF1uJrMo7uGDnCkZiYjWJDqOKl8O7kpuQuZP3IW7Pp2HnJ7aTM3aSCBbudS3cMxZg4C+QftaL
uE7N1sOlkNYquCvylczBnQG3dnpWQaviQB73PYV8fHdv1+df4PPjOYBfO1Zwl16w8dMCNzIzUg6t
JYmdII7uuC2ebVJYYrNioatoC2MxWwja1lrdTK1xq4WC7/18daxg7TWNu2RQ4V8F7j+mG77eAHja
VYwxS8NQFEbPa17TV+wiDjooOmiHPMRRdGlMUxWdLArpqK2D4OAmItUsQhbd/Rd5IDQNhaz+K32J
IvVeLtxzOd/NuNcip06XBy0KDons7KFZBZ51wRH9fxcKAm654GRO6vLOmEs6eL+XkEeurdP5c3pc
2dTco5xjJE8642CjN75ZCTnN+OxHRoi3QSqmCsXwzuAGH/ttHLxynWyrNXdROuqHdt0tuVyrqBnM
FuJGLGOrNi23ghl+1RU7hGZTJGdR6ieRcUahaZeUqxgh/WR4HpXKwNZkR627S9JpeZn4eknlq6nZ
bH0UfgMFFEHsAHjaY2DAC1qAMJghmHkRAwN7/19X5k3/n4Nohgog9GHwYXvAWsp0k3EZSAzIbmTa
B2EztAFhFEMUazUDA+sM5l4Ghn9hIHHWxv+3gfxZ/59C+AwurIIMWgyZDF4MMQzFDI0M3UA7Vf/J
MjAwNzJIAnWzAQD+ayhEAHjaxL0LYFTVtTe+9z6vmUkymfckmSSTmclkkkzek8mQTB6HACEvQngF
8uCVAPIQCCCvIioCRQRERBERESkipaiIgo9a39Z61Xq9/rnUj1raer2trfVar7UKzOG/9j4zSYAE
sPf2+2pDMmf2mbPX2muv9VuPvQYRNBIhMkuYhDgkoYKnMCqsPC7xNX8peUoUfl15nCPwJ3qKo5cF
evm4JMoXKo9jej1gdBm9LqNrJMlQMvFuZa4w6dxPRvLvIfhI/MzF0+ScMIt9bvCEJAocGt10LK91
ihyPEEbLCMa4EDc7ZB38hfBSuGleu6yDXxzijJzG6sfmgJnzhez4i4bq8JSDBw8Isy7Uc8+dW3bo
4EHEntHKpXFrhL1IQHEoQ06L0wiEh89q5OCzUTvBCBXjZpPJZOA1SX4csHIezsv+xa3vd1mn4S76
r7C3OvIyqZHZv+xzkQ8h/pDQjRzIiX7QdCwHJp1tSJQ4LPKEcJjMjMc6XWGTXkMQ0rYnxBGttqRJ
wBxXxAFBWfCuVreUXqYjsBZ1X3IzHRjgmtvl9NTUVGeqMz3NkZKcZLdZLWaTMfo/g1GT5scuzmV1
cR4z/fEEXewnwLEfDBf5Q8pbU7FXeW911WrlPvjnG8x3/RdGS6uX4fnL4J8cJb9L2TWVW6g8GFYC
+D36E8azy/GLykj6o3Tj2cqDiPH84MVm3iV8jEJoOGpAM+SpyViAx/BC7TBfPI/4ESHgJ99YjgXc
gAhHliJeQAKPemE1BYQXIUmUliFB4DoRxxU2IYzFTg0WxbDYHCwNlBQXZXk97rRUR0qSQaux+c0B
e7oYxsYCMVhaTULBgDWds8PKZPmMdhv9z2oRJasnWIB92KjHVgu8bawmwdKsz6xO7LLl+0Oymw/I
U4KVLtuIG9cPrxq5fmaFudw6fP7N+bsCt6TqvnukatPfcvGhuVuTvHVVSybcXL4EH/wGpxmcFmsc
qbM48rIra6eUNm6aXq2d0028ZTkmZTHeWM9HTptrnGNW5xbf/1ncjh2aO6rIHGKM370gv64oP+2d
yGn9zFXVUxYhJF08ffEP/LfCGmREKcgDUlOOalET2ign+FLNHEdGhokkksamY+kgQFkajEQOTYbV
R6LEiT2IENwJbAJeSRLfqcU8H+ZBfHyIU4f2gFyLkjDUyHbZkZON0ehR1ZWB4uzynHJnms0Sp0VG
bNRpLH7sLiCUtYGSdAK89JmzPG7RarFhzhYoKQM+cj5s5641CJvGr63PzGvd0NqwvCHrxXNHkzLb
1gax8Ql7YOrCovNBbnPpXVcbQbZXz7u5rvaHy+rl+beP/skv1xGteP/dNbfgVyNfJ+y4vfmeCylB
rrn0/NFrDFP35ZyLr/JvCutQAMnoNjkpCRMuHvOkvCxQnJdLJIHnGmHjj1Z3rBeklOcI3wuCyvHC
IhBLxsVQk4gFAXXBJw5DwO/rGBdGwG19sLRUDsp5Xmu+R9Ik+wXJK3oY/8pCWTEmUhEu4DxuPbAz
BTtxmc8bdNmtsIwlIV+Wjwky4d90KF8/9rf6bWuaV854MK/j/lnj9qyenBmyhpPCk5cPr50ZSnn4
vx4Od/DK+/hl3rdWmfZs7xMv3p1X7Wtc68h8Zo9/4l0dPS+G/+PHDatnlGWPGOFV2vCy9NKQK7u+
s3yh8sVFtLHk3ldKTGLdnx5cv3L5fa8W3FYfXtZdCZRgrHBp5D2mM1NkuwCSBfoSUXWJVG1pILA7
VV2JlQH6kd57RlnLfSK8jlxIfNqEcJEfh9j+5WuwTw9yk87buRdcGseY0W3Vubkjxo0fYbVm6Dxz
unrHDQtOnHPDRIey1is5ps7Zf+hXC2/6/ZMPL55gsXjE5MmzD534+4YVnz71cO94CxiHz5S15Ct4
jqfvOVI6fLyeT8T2anhggejDOnhOa/1k2Z9TO3ZsrdUCz+npXDw25CpvGDeuodwovO6BJ809ePST
mxaePvLA4vEWC330DY8+/ocVc9/ct2PxjOGFcUBTPjnH7RcOoRwUkIssGKxKY44rw2kVSL05TqcF
3TYalDZI32T4RVAnsIqgsalJKRZmVKQC4rHYnFjygXJyi4nYF0ongdICUohDdpCCkrIazO33JxSu
L3cmJo4fJ5ozht3sdvv9+sL1w+INRlEcN16yuMtvdrv41vHwbuOtKY6aGp1vQ0OaXj8e3nMVTq7I
0+lkWZe1oTk9MRH4cwYj7kvuHFi9LNkDMxbIJDB5YPoEjGaCthDakUCEMaolETUpYEmCLiOYa6vL
6CHlygE8rREvVHY2kjmNuFE5Wa/sZrJxTNlLzmIf0gPfBcb3dBBYIA0Dz4mPtNaP/oXdl+8uK03C
PnlR438dtOWuqgm0h70adr8Gf8R9RDxgTdJlB72AJtHr7czCjxlo2oMuK9aQD/BHjVT4jl/8kEvG
YXhbfJrQ5wpg9smcZ555Ov+ZZ55B7LPHX8wHW78JxphlA0MQiAEIIxNYwYMD+EAr/qj1Q7GDPWjx
xdP8DGE5siE3ykfjTmYmgdHCjapusA1QqRyHOoF1qjIY7A22+xMxys5yJOvjkQ3bBNCvgruAo6Kv
qk6ix14MylPPWS0mLbAtUGIylhZg0j3vyJIx7vSKrqV72pY9v7RqwtbnlV/hYHH9sAXdDf4efEp5
N62q5NE3M7pyWtY//cb8iY8/trN3+Jr3zt9xSPn8xKzD/Hpr0bxdZ25/UPlPLnJ+tS0BD8dpiz44
RXmCVgJOWS6sBjkokkFWNaAACdagekbkSWA6KgKi2B8BSoQW7opDcQSmHwh6jSGwrXajYF2Jz9qV
aUYSZ8F7LfXcxKPKwWQyQzz3Wb2F8R7thOc0CgtRGloq6xLpYgI2II0xPQu4AGGqPzn4/yKqqTuB
jYyDQgdVokUC07PXHBcQqJ6FN9JQmtHmMeVQPRsI4mrgNDBXAp1UDZxl2AB7AR7uJII8Nl265b57
5hdamrtO7Xr81dk9SpgsDlkqLGTfhA2zg76ps1uVRvx685Qdty3/aEXkFREkfopK146Ln/ItICN5
qEGuAxgjwSZCiZgjXCMSAd2IgG4Iz/GEA5SDeIJ4sMmC1A5mmM2aSUoYN7uMyVlui8+k0aT6tbgs
HYRAj8E2YB/MESwpwy0gHILHB4zzcIKLj1cWjtiweuqwH55dP+/VhTlha3DCr7q2jvU9sNWel5We
nmjFifjuyCdBawv2k1ahOfKaoAmMXT9xw6mbKmqzcLPy0tiaucurd+4X4nQGjd5IVgvKHfgjK6Nr
CUy2XtiOrGi2bKTaCwgjZlOinqcmUl22NFBjVNv1guYQAeZhvptagCYUXa6rvM+WSWc2G40ms1HS
OPxmsBdYcgVDoGIkL0iUC6TLtYSssCrzZ+CFi6zYKym/x+MvvIunKyJewqe/EGle9uY25WhXvPJ1
pcVSiZlTsAfWowrWIwe1yE05MGcJS1y2jwiSFYsCD6qC7mFYDEGiwKiXOhcCJ1GAxOwXLIoo8p2I
4SOfB9CM0ZhBF8Xs8lLsbwyV2alG0xOPO4uuDd2nUeESJR/3IknGObWWQOSvLbcue+o/J28/NnX7
xyPDllLv3vn1q1rLk1860na8RB8vzLAqOfgmKfKxxSVqfvnogmOLKntqQK5ecef7atu6iu56JCdJ
RxZTzLIfaPIBZklBuSBlcbkidQIaUzDdpamwDlamZ2DyJU0x3ROmbpGZajGCuJ4BV9tPZuX5fMzu
6HmpjO0EPaANYiw1AYjGFkYPidLDrWzZtq13iu2p1w6fcTXO3dP1+vnOnT97ZWrk+QkPz2paOSpz
zwNrHs8Sxqe3rtrx5tKff/Sj0ds3zxuOs7HuHqx9bW+X9cKSpT9fM3zeqqr7X93aTddn18Vt/Hxh
GTKgjqf1WACgVQQUpCIKIgjqBWUJuxgJU2G2XDt1AyghrtjbdEuJk6hGvWwMFSYj+JJGAxUm7AK/
h+4RDLLE+cwuTPA2bI+s9Von4GyyR3kVj9Mrh2eEbMqtZAl5QFmAFWvEPE8XWZNA1jLdf+zix3wQ
cHkGaP4wqjuZkThA91svU/ExHDjIdar5T+bnF2YxlttUwQG1b/D6CvAA3KxayCh2dmJqBFT87OPC
55pveWhCYP7GWaNwc/XEuXWLb6mc/VB73p75zTPn7p67ePUNU3SBro6yf11x68nfkYN3vTZlR1dJ
YnHzHe0YL/MU7pk/6a5JhVWzb6q+9XiOp3D3jDu3PnjD+O3+reay1l552ZG7fvD0IhUbv3Dxcz4T
aHaAnOXIWbkCI9kBcBgYAv+f3kceac7OcmdkAVE2v7eaCwGK7cOvkh6UINh6Kj8ieGFlIexd/tLB
m9LuemPvp9WLn5w38f4VIzFp/MEDjz08ikzNbLx5/JKHCD5056THXGm5vY+cvXPZHx9v3nHT6DHb
Pt5425+O7+wOS9yUuUc3Np5cvW8PwSVO6rcvu/gHcoxTYwOaE+AXIwJYA2w+dfeJ6eGH9+2DH+Ld
//DDEff+/fvpPfspNmH3mOAe7YB7LsUoNXDntn6cwj5E6b4crIANu/gN9x6/i/pYT/MEMIcWS1ps
x6vJxMrIYrKjktRF/lJFWkmrzPj7Ff6C+5grZ3MulPNAw4J+QhjgFnh6k4C5XLtALccYnof3JF4C
aadwRwS4Y6ZwB36+In+OWMmfyZcNDYrS0IAunweoWoqptWCXMQqTeyKLwmQi3yZHjkWOVREzi3nE
XzzNnYJ1TgYjWSwXGGB3cKCnSSP41hwsdmyzIbACsMU61S3mMfuMTIhhZ4WYsEpUQwywp4z1az3+
4tfHld3UWXNLVqWlYuSpddv3N034y8GDB8gW5Vus+VnLuhHTukiuR1mK7x154/qN7fc3X9gfi8eg
GuUAv1doRo2we1bLRq2GiGhEHDjBoKKIQC2PFTagG8aKEgK/VgKYKgmg4UDTcdNhukx3M62RTbEC
8LjnysHA78mU3530rrEAGKa0jR3TMDrHnpuXqQHAgLOoLNvsIBr2TCMTZj0hNIIAexJAuer0mpjA
U0vNSXqcVYOpIs3CBWC3AcXrCTPb2IFLpz/QUTIntSqhJwEbvC07u7ue27NqRPrInnvbd707zp/R
svLwa8c3tU7advzVjik7ekY4C0ZMb8nLKHOKVmdgdEv21CXEYJ9fnF+vT8gMJJaGi+eOr8bhMT/a
1hFIyZEiH/Bn8cqOnzw044bnPlc+uavjyUO3NG+9LbO0Y1po+o8v7DyGG879rKfyhrseaV/89ta1
DRlJ2tyCo8PGthdsx9uTC/WSFDpyYPnU7Q8y/teD5B0Q5iAjWP6FstGaqAfPNp7iQiyCVEQVoCXK
2m4WqCFRlKjq8ivfC1DdaEHwQUtj70Uvt7c/a7SazSYBeO61g80PcS6O2n7QGUGqxH18aIFiObdI
qVqAzYprPqCWb/HPlV/jnfu9cydSq79eWQvWfyK/v9Fy4W2SfAZ2zHyGXeYgC8h3FjoiJ5kxh2wm
WG+AICTDSATeAPBTiBKTgYgG0AnheyRMtbaIGQwQBKbrinCMsKuPC1CRS4dr8KZqc6ODBwxob5cd
znSrFSO3Kz3LmWVNs6Yl2RMTkAVbtDTgkmGkIasovgAuGH1BQTIG2G7jPEa7GlA5TLxbFj/2y5ad
z61SAvt24ltnn5m16o32Pftf/PATYY5yYtmxNDH5pS3zdk7ItIzkX5AtYVPkF+7Hlqy+PzIn8rJ9
x64f/kTF/hfPgC1eB9p+4Qk7qKKYefNSE0xgr/RSVUAwNQ9sW4WaYvpgGI1SXse4MBeF47koN8tj
zXVTOI65LDW8kc7THVKDA2bAuhmIQhDQJTQEwOsL73m0bfeyEfb8MbPvmiB312ZZg9asqt/tUi4o
b3bs/eTWws7hY331uioO4d23jtv16Z1N9+1aN6s8qSDXeUF5p2YeXoHH3YG179+aaPHa/KKiV/VL
IUxxCZMNN+qAmYGic9OoqQCeeZR8A8WCnSoWHLj+l15n661n+hSRntj6nnDmuTiNnarrEp4adgDs
dB3N9mqeGRepEMs/xvxTS0ssRfWLNr+wUJm7b9PKFc+uGpMx7t631nQL4y3VS4+8v67+zm0/WNCc
Z6nkXztfbdW1LN//+Ow9X9w/ljOpfgeAKb4YdLgNLVfxeRzYZmIAr14UuH63Kgp2ORaYmjkA5AqC
2A5It0hU3aprjQuIFGIZLUaT0ZhJIVYNBtlUIbFk9Fq9Rjt1plzd+3aRu7AfALBS1YqfUMZ341+F
La4LxUDIK7UWq+LDi8zmyOviHDFyWpeJjcpGlZ4DQE830GNGC2RTHz1GIGiAw5Fx1Ykyn+PqQ5jb
oTUzKmhQ4woqQPcceOg+sh3nDLcGlOpW/JpSjR+OVF46/T0wfQVV0jjTathDHbCH8tAyOQ6soNGQ
KF73Tuq6zp3UNXAn5aG8HK/V17+TiDFql4ygM62SkfmNXLB/M3FfFW/5yZP/nl436/6uhnVOpZHM
8VW8fmfXobvmhsfv+D+3FHZVT3CPkarZVlJeVv6z85mjG1qDXlw40WodrxwZNrZs6aOf37UVa365
1mDyWYp4hYVPmmGS62EvOcBSJyUnUeIT4jU850iJ00kiRzT9BsMaU/w0c3G5xRjkTWYyrPB6MJsB
K2gGq8HCUjkYdpfLyGwHXUug3xX9befXK55PI89/qniWL8CvnyKjT+HXFyy3VJJg5B3qMdIltdRG
ThE//X1eroTntAFNtwJNcWiinKDTaiQWD6ERTpWQeCZKNPPUrxj6rzGlwPzQpdGX7WpCKg7FWWnU
KhD0cnSVBJC0NvwBr/RyTyqL8PtgwI7IFot8vm2ipU83vwjzsKHxcpzVooFZgP3tmwVLfTVF/Y7o
LPquhSnz4vtyYmEUm4UN2fLoLMzwfD3gFJ+UTpj3CpLzLT434d0nb3fpEn/w1pSuDQ3ZcXi4MMfS
fH5NriUj12pMGt+cV7tgWi13sp7KfdvFF/hXYX6poEWTWO7JbKLLH6cjKJFOVOiLovdPrGiQyQYu
nSxb4BM2azrVolgCNC0VcD6JBQRiC4zhF//q60pwDdHFr/jNxkezt+A5keX77sXP7yPxZ0myMD4c
OeO58G1CyyfPfV6yV/Gz1X4rbLGEIzvI8mA0JtUFa10DNOjRVDmRCiw4lrDUwOp+UxDV9qQd9EgR
6TcFA68H4LoaUFw64BKQYbRZKBmqlgGeqzqy663DZIby/iz8atiacSGNqni29NWgD3uUgDq3cpjb
Tra3lsl2h92WqOOIRBDdYxSMafrNlTUWZeEZHuEuEc1B3mQyauJpDHopvEOWcjFJfdYK/zNQLIYD
dP+wGIyEPZyvf39hO3fgr0tnKE6s8yqfZinezxT5xrXYijV6kBa6iSirlyyPfERyFp2/N7bNIi93
ROm6+CnTGVY0Q6Z2Vw8io5FEcEqo0HB9QpPAgf6/XGoGXGRiw14PkBs5Dv6yIqs1mTqmGGiQsK9P
dALYDnLOr58xMrIxhBdEHrlz5XtkVlh5GSYun/vCwUtbzn/EJvzAPMsF7R6+SrYwzDAR9uIa0PEW
lI3GqtOzU7wQzfFcGv4d9B0W/zXbAPi5nNZsW3a8jkI+UY0BAzAwZaqOBBE5Fv+l25IGfznS3bWv
d3IgZSsWDsz7yZIx7nVfH6pcOLshr3Lej6b9+DVr+eTt3oq5dzxyqO1lPPaDcZuefXP+r5UnfyqU
+2fc9e/rF5w5sRS34uRxBx6/faKKf5aBXC0G/iehTDRPNmkBEKdoCMdHxT9maVMQYGUEsLlHxDwf
C7KqkiUnIQJXOYptY6Oi+Ee2JidjlJyZnJnmSNAJPErCSRIFtv2r4CpJF6jHxAGupXAWaPStwWsi
zcd34frhvVuX9DYVjlr6wIF1rYtPf1bRte424iHRDQxyJFo9NRPXjpl+//TqJI4zRyY+caBt49iA
idHWohzitwibgLYS0EpGmhXngTTm2pI+ybL1Z+d4HEV0RWrg/so3WMw7ISU5Oyu5JKUk2yvQgAeW
snxi1MbGFk4oCWX5QuYyumhqDD+d47ZgpH/haEP74udvmZJzF5YOzDu6tMWzVtlVVFD7wNp376TL
18GW09t8w45mZU78Hb9Nav3h8Tfm9K3mb5Rnlxs6/9aoPPcwXjHuwBPrJ/m7t//7+ranHl3XQmke
D3r4GVjPNJDNe+QUTB0ccHR4M8AGarxouLzR2Ed8igirBcuMZyK6rFRWL9tjQ41gGy4JXiK28v2j
YnvP7ExH1K/JdmbDbFLNVonm6K12o8T0SACQSAg0Nwuy0GIEY6iMhcO67t1Htih73klaPGPTI5Pj
lcYZjzxbPfeRY0t7Vnf97F/zJ98N2zN8vpxKALE499+2/57yBLKlWPS8vaXt1rFFpkgzucFE9vxI
7u0oVXXMLtivjbBfQ+DBxtkBQ4TyKaqKinYmOKI0f0CrDnhadRCVbwa1hE5AicMokLz2sDCLYQeK
PeYCN2CRZL8aqacumo9uahYXYdlczMJ66WKsLIGnSV/fe5bCnneff+GZ90fOmVubs+HdxRv+mF9u
HZ59z+Tt+4224qymwpkpPxrx43is/P7n7QeXj7YTpLywZfeahZtG2/NHjFk0/Manuxfk04IDh3/X
GneFPyfFZcrUydk3PKZP3HfGV1VsV/kxB/b8XGE1+PSrKaYRBR6MQmMiFuqbjnnoktOKF8ohGqjH
NPMnFDb12TvKs6S+EUiAMUigQSv2/hBvMfsna01GGuJn6UMWPFfD+tH8xdyApVJ5C++80IrvVX4e
tpTifHxIWK3k4EXG86PBuW/jnzUq9+DTDqAhB9a0FuTciabJ8WZDosBTT7sPlhkJjlrkPvdUFefL
3ghTtE2vqba6z0dtP5ll95poeMusYgyLmnOhkBpeRIO2e5fh1WtO3ttxW71TOYg/t4YWPbVs8eGZ
lRbBQBHkhXde/lRetaubczVaZl34duXrO8fXLbjvh7B78EUF1uADmH8iapHj9XE6sHmcNBigu26M
ZDcbKLhwBXCIggvsY7/tJPkIvvFA5DROVl7wK6c/iih7BF29xVJ3fvEr3CmYZj2TCRfM5wmYTzJa
LJstZgOoCpFHydY4gmmQ5DLYDoJxJewd5E0VW3A0SwewHfP9KPhZAOwAO5nPEuLYTGG70B82e87H
+ayk8C3S+zulbsa23e+YXt586yylGJO55rPruYURfgevASrqz31DTm+PPMdIqj+/YBv5mFgoPR6g
5zjDSx2yhcJRk0Efx/A7xaN9DlkCx/QZxpfCir6LUVgBWo4sjeU820/abDarmqrXYoaE+n6BsCRi
9os/fkB5Arfti3z4jXJa+eqIUn4QNyvPHMb/pTuEPTh5Fz4ijK+N7IkcYposPsKSVmQlaaCio4Aq
r7Ww9Cbi97D4xETZZKEJtwSKj0DcE0i/E4JVoR4ISfuvMTgaj6MALwpFbTYTi0sw6WYTtko4uh+P
HSX8C9iF9Yfw6yeUp/D8CydxGxPpkZHFZCcTbUWpZUm212COm2COzeCr62kul0pLAshMfy73Sr3Z
HoMPl+RyrzmuL5erR3qj0W00UpeXJXYwOO0gOl5s5ZuD1uGRVeS3kQcUkO4AmRjx4d8pt+oFpLrr
/HngJcZfKnv5oHAIScgtO4Gd1DDixr4ywmIMziy8Kam1BUbKFm8Qf0lGKYX4XuHQt99YJootNSw3
iudcrBlQRwCbchl1B1C0jgDk3YPntOI3W4VN3z1Hn7Bb2Us+jj2b+pNDPNsa881gWYyn8E6liIwS
Dllrvjs+0SLp1BqGZOzgniNfDIj1C1QayVzs9SvHlKf8RP/fOfiI0paj6v6qiyf5bSyjdY16CjtI
RBXf2tjYSN8nTu4st15o6a+nwCEscbOcyjcd3Fknbl0O0nUSsPwybg/ywl5qlcfEgxnISkvmRCHV
kcLxItcYyyRINGEnIqEnpnIrBmZZMSrMz/a5nGZjnA50kBd7NRQyBtR0WCLx+FiJBGcFL0Tw0ehG
VrA0EwfdkqgmycgH4c6FlavS04PWHE3qlMmrg82LhmfF/4fygiXvxMz1+7AFj3yv+/DqLnk/fmfK
lvVpev2fvhEtpdkZvprumbLi91sKHxk+b+WCNZuVv75l991YP6KBYqvgxQ/5QuEwsgNWDsolGU6j
Hmwc6BJWZymgegPGo2NBwYqB2XxPYbaLKYwyNb1H7YdP8lH86wX/lSUUJCOdO155x4/rNy8ZVbP4
Jz133zrfaH0bt8UTn3vUD1o3L7ntlh17OfHeYPe+mdNf3tdz6w4RGG63NG9XblLk4SvnVC6MfNF9
hq3zi7AWhbAWGTSzZDYRqixQzDBHsyIVTdGcBzV5Pm+226jqYw+n5h1pOJZmN1jdgZrO407VWfyL
Fu444K4YPX60e+4HdYayr2++5f3b2u9+bOJuzqmcwbr8E882rGqtyNBX5Vuqb53z/taVb6waTvm3
HeZ0APiXjLJQtRwWQRQcKXESgt0HmpkDF6KRQpF6xDQVxzF8BZPk+RgfvT5vLksOgAPhpawbIAEs
ukXMxhi6gpdct0Z5Bp+Jf1P50Fp8ZMbRP9384Q8q2mvcBu+uyfccbNjecYLzrMT3Uw6eH+G3FD9Q
1RN5ZeNnd1pyMiK7sOIMPf/jaT/uZb5EjJ8ulIeq5AqdlgDYbZSwQIGvwM2MwcEKap9j03W7AQHn
ufOys+A+V7YPBNnux/1ZI9VnYBPnLInYV6Ymlqy4qnTMrAm+mz8oMyTL87bUzz54Y0PGDz66ecTS
ppAtodYmJoeXNdctG5WJT0/fOb7MWJdpcgRH+gOTVqyrX/XJTl/1mJaR9ptmZI0fU1w0hu58jE6C
jo4XdqB00NGmOMzh9DQioFRHkp3vDxB7EOFohUBvTHRZbQZqpy5rSVMsPHzNUWpw2Gw0uS1eln83
B6LJYAzw1wfCZbS6JK856gKe+qBy5k3hyjlFZUFr8cjR7+FPTYqf4PcuvPblB9y6uT2HbhiWZE9V
Pv0mVfn2mWXmSJiaevK6lymro8qt/CxYFx8qRTLmZAMIuCil6ggSHUAlpSwFKMvXYRHYIFLPNE5L
OA3mZsGkS9TyV3UvaDRsBUuZCaV1FLmD3aRBREOmX3qvFDO6+SDLEi9IvVe5c8BNcmlsPAiTFnPa
S+7DWg3WDnJbOyDp5GAwJzsoB2sqK0BZluaUmrKtXrcvniJrL0sYiVTDuFgilmf7owZ7grGqUpvd
i5ljwsTNYI7uF7ji4Wcp31rz/+2BztFNxLJy2ePK59v2HW0r7N25La9tx9T8DYV4TOT0giW3raqc
kmfWh5pmlz/xzT5O9GiM80bd/XTKoboxXc8suX1yc1eg9pOJR2t6p5alpVkjf7tt/o135dfXZyoR
5eXeycUjHLunzKFySfOLa4T9gOMny/b0NFsiRWkE6yiUp8XrBoGotWeyKVbdVdFEbaYaerj8Igs6
0PirEzn9VnDPARCDjKnVK31RK1Ackpqlhktk97Els+RlWceU1Kc/wHMs2uwne5ZvPg5YzDO9KSct
sqaaxhr+kmYtXq50bK6ecddNkecqLVQnUNyzVlgJUqhHpXIiDXZqKTbjaPRq6Io5nuf1vJ5WzGEw
AZghCy+NaHJpu++7X0H4A2UL0ZrxQf7s/ffvPrfZUkdeLrQUb4601anxpzXKdu4Ie24qGiYbUgHe
gvWh4TKauI+yKy5W0FhC+aRFfQcinnHkM1gCzzZb9JLHnUnrS1m2wCtxR2AKPVjQWdLyylsKVyln
ZZ37zhO/qI+8RE6Z1Am9UFAysWiEL99u6KqwGFxJ5kzuKzo/ZnfqL77Or4b1TEVj5TRHCl1CfTxd
mni6ouxMAhhKHRjK/vh5SZ8jMeAlW0kKclJRqpMCEgrBQixo4GXuAg4ZQwILJ5DXldP3xefefvuJ
cTrFhuNeiZw7rmyOsyh7PnjaUo3res3y0bvvc2nIjo9LLZYS5cR2sn5fsbXwvK/aEqttmwN2SYeK
5Xi2gnTC2qsXPeqQLlb0SBkHymwJPgzW5qyF4Hct9fzpQmvxpvNhtd6RQ6CE+b2gp1IAHRWg6XIK
fQiHCvLzsrxpqY7kJKMEz6RFRVFdbOZZUpk+s6KJRl2Yd33FVYrm5USEcrPdGfDhKZn5IixuICrm
1QLd632i7rWrW0GPAeuXqluibf0xnCzpElLTcoLOxtFx2V21U8fcceHouhVypTNgtZBpy7NG22iW
5C2btWmnNTnPkaZvaRk1+cabI/sqLa2VlWROOM9usUaWkWmLs1MiyyspT5cDvVuA3jTUJtNUAIdI
qsNiiG7vuP7wy/fb1mkoLWfgtpaAlAHbun9THz+0dMGIxa5jStrxwzhHzDk666Y72Z6eCdLlz4is
ly1Rkh4Y2X3X5sh7lere2nHxD3wY5m0CS5kv5/ZFbFVuxwy7xYxRSpI53ZKu0yATNtHILS6J1QGq
ByDMUQVLQSlZue3fZlcsfLp3xpFNY+vWvLDs7kd/ceCOn7zN7Vn3ixUzn7prYnjpC8vbf7xh3IUf
/ctDb/7bS9ufPUfPJihpfDHMxYH8aKQ8XPVS0lLtEidwfEoy+A2w3xthXpgsA9NwJeykYuFywv0O
XzYVC7PKJmsMhWIWd6L1utgY1f80Wiku2XwvNm48Wn/n0lHL31tV0Fqbm6LBx5TWgk1Ndz1sKRg1
v3b8TUqapY5/yG8Nb9lF8eid5/daczwpa5R76yz8g5GvvDW/erxsZmdtdliNM+8FWo4CLW5UjGrl
mnTM49wcZypNyboyKCWIUYIYJWz+FQNr5hAqoCjKjdzZeZQSqjVDVHn1Hzaxh+xUFNSKxRCDgXqC
P8PrJJxlyM8oLahMr9u2sqlm0ROzh3U1F3nmWTJeubCyfnvHkRuTH66fsr7BQ0nCm7Zhb2KWOS0x
vmLB0bnjj+3uthX63GvE98+/WWfhnpj+kyVb8NfJVcN6VjJ9tx3knOe2ISNqkC3xoP95RKKxc9IY
h2PGyxAT6JK+qPmll6iEn8hVQzg4FhiDtXLiahzycqeVKvzUhX/B/GM4XeTNS+uxhyimSHOVE6DQ
T02W1g5iC4Ifyeb08cVPuQ+B10UoLA+zYI4vos5/4xABzIqBAcx8v9uUp0YvccAODkkseAkiY5cY
dqPZCHs6r5aJ0rNUemvhwm3nVj1UM6Gz1P3ru4+8WmJpnnzznwtnttfn10wt9+fUdS+satvdFsId
p+t219XnGlPzSpuL5j24+Ivf+/d7w3mppjhLblFLYXhaTa65qCyP0lADeLuYPwx2vEjOpxF7ZMYc
ITSNWM9S+FhFmxwXcxu9WUZz1DcIes12jpYN90FtKulCEJefw1JvcjJZnhzZn1U+pblk7Bv5urbP
emrnjw6kGnjOkzTMhD288vHyRCW+fEK+Q/InWYZPsnlCwfoyD51XCOa1jduOklCu7EvUJ3DUrIFV
M0SNP4pH9QM8gAI3s7VGSzQf3++yZCTDPPHcV9t2ZSq/wccTP1TespYd7VH+cozbHpl3oDFA6kA5
bY90gV/yxOhFOIfE2azq+lLMdCu3DlBHuRwfjQZJl0WDSmLRoAEvqa04YR4Y+HFEAz+eb57A72/4
zcdr8RMnlVMbuXKwk6WRNPIJ/X3hLXhmHc3twzOtqEZOpHEo8M25KE7rC6VdYsoHvKbCfdJsNqvn
W6IPBTczCD/ReZAXdm3+DO8cf2jbpsPrjnbhlz7buI3TR+aRFyvYFAjgnzqu3kvnNYz0Mj6MpPgL
5uQA7WhJYacdDXrVgJPEfn4kqAzgYjZ0wGvKERrNM9OJRaNg0elFQ3px6i9iUX7/BD6z/r3XGIu+
xMXHI394+T8+OqhU/Ai/ildRPim/xRns9wFlcZnFUobLlbfobzbXGsXOH4G5GlG9bGB5ca0o0frZ
fktoZKEjOq2SWOD38msUfZwEc8pOn7oCmKIghoXUCCrRzVD+eICgk0rOIeWz361Xwk8q+RYiuNly
2sln9Hd/fY2D24US0Uo5UQT9q8eEBu20fSprqIAcU1dC+zUDdwPG9QXuElGi0WQymljgLhjySF4c
dPnMgZALW3nRal2v2Mn8yLJTo6zFhES2tHzyO8I5LFbl6N8ufMzqIPAaZTU3Xngb/Ok7ZJ3FTDA4
32yldRQzAWHgSYH3FA0eqL6clQWno5uyuOnSN1OHuk9O6r9KCDc5+h5HxlIHTJsOqM1oZ3llHyAR
sEFBmuaLFewZqRkK0rgJ2Xv33dlVFfbMlonDc0fNnFY/eeOk3LFVeP7uPWR0SUuOJceQHZ5WoSTW
zbCnpkxqVhq7bi7J8bTLLO5WeDGfrBVeAgSZpXqyfbi++HJcHzu2ZAyQtS0tH4o7KL+WAL/qY/xy
ZTj1CQINXMT4BWYXSOqJMacU9/MryoripkvfTB3qPpoGjl0FqZ4cfQ9hlV+0JsRopvwSKPCwllTj
oLG0LBQsoL8BdlgpJjHaJeKrGps7aePk+mkzR+UOn9iSaa+oyt6+/YDc7skpubkLn2yelJJqn1GH
/1oxLZxtAP61lESe37NbleszuJj7gpSjTIreMgEamYyEo8aPhr8xgbkBqKBzo3EvxI3NzM30Rk8/
0GgMxQySXY0v0kqYEPcO0bl8sid3eGFJSyB/QoUvLg2uZNd6ixuLCkcX+psKco1xJE0w5mY4nPl5
zsLGEU6TYPS74FW+0+MfnZ1OawJfvTiDE/kvWK13mpxCPTWqx6OFQfPAJ5R4NeCL7ZKPxuBI98GD
j+D4xqpK/otDBw+eT+KevzA6GovazBdyXwGNBWi0PDIdYzEL+OzVgV0Ec0/4RiSIwtK+cB/AxmXs
8DQSxZKBMT9XqsnuMrHzNlg9KB0NTPkxPSfNxc5RA6iOnZhmAcBJq9Jm/p+RhqSmBdsbxKpxWxfV
1N10R32VputJ5diNu50lo0dxJuXXWFfCRZzVeRZHuCa7a4ZOnr9v+rynVzYlLJzdEDGRD82v7Bu1
tKk8XT03BfrILywDrbcV5BSLUjwFg1HNWIREWv3O99LaAtiRvRrMgxtBI4YzkSQx8MISY31lOd/z
FuZFmZjSLbK7TdnGJKPRFkfPy1vAqhDJGwpwriA91uNzBQPRoF2GvT9SSuwuKwmTnnkkf7Ul7cL6
ltUjXJaL6BNzbWHmimc7cPL2EfZg79OL7iiqqjPgeLJRdIj7lC+mpVxQ9lgyf7D1Dnl4dbWns2Za
yaTHbtikNOHZvTPaqpY2zyusVvHzNvQpX87vAFvnRSNkORmkGqfYzYZ4rUA0hIvjgFtcY5KJ4Hod
gOnRiNUt0bJjes40GpQmaKwnO089emKRQM5ENQydFSwN+UJ2ivEARNt4A41EG4A0Pn7W9sD2VQ/c
v2Z76d09PfeU7lz+4O6VO4I7ZkXi3tiy9Y03tm4hLzy4fHvZ3T2z7y7bvmrXA6t2BHfO6t4R2LFa
r/zxjTdw0hvqvozlsdxor2zOcIL2TIadoKX+IODn2EJnaDA7WIZwt0jtET0nN1OHtdpCGgUu4vtK
r686LkDPvGfAS6RdOthAdQgoJYPb5UgxGllS2mhi6y1hl1X9j0HwoEv9D/fnyfg9J5Sf4RD8jIAf
lhtT/oiT4EevPDEgc0aze8lVd1adonmyU/AH+UN/Bo2u6QDdLqFqVbubmAYlU1lOhip5NMAQzWSG
aBLVzO101Jj2k/Q0LltO0PrGqOZvaSFnydnvFpPDsOAfgC/wibAOPKhOqitqQf7b21qzeMw7aKVO
IygHYAruZcUbiJ5UZ1sj1BTzTsKkefSo4XJ1pTMtJdnGapSwNdo9gVXu0Oh7IfZwMQeSRGs6xL6i
BycOhFhkG+6ySaDz+7oxFGB8pGutO9A2ttw7Wx6d7Wi5US7f5G2xlBSdmXHsPfeoktwp64zJub6K
nBqTe8nIBs+YG+WOJX5rceq4e0ZMfGxht6FxxB9LuxL56jG/fJk7oHHePq5gTFlxhjk+1ehIK0wv
He3ISv/TRZTVvWeNt7Io2RSXuKvNU+n3JafobVKCN9lb7CytTy3+rWLNL2y5fWTDvC9rJ2Y22H0l
CYkj5+UWLaK6u4UPczuFnOjZIkkAOEbzX3apBnQ1blm5YsXZlatW8cdXqv9j8Z6qi6v5bfw6FIeS
UZBmO0qzfRzgdGqIOIluTAnxgsSzjgyEdWS4dKNmejNzbFargZ415DOyiMFUlmEzGQifUWYKlpKs
DBE8eBP2RdMdtj4/J4s5azYwpOeU/0/ZuVPBeRfvvTfye6z/9Ic//FT56j82bCBlDkd38dyVP1w0
YkOxIfORGVufOr539Nbisk1HcTaehnMef1w5DTD2VwsfxLqH9uH4Bx9Uvt73kPINPrEryXf7vJ5N
fo8ju+7+teuO+dyvspp3A3mJd4KceVEpjVUkxMGWo8k/gafJP07gGunxCF5g510RvKZnc9QCGtyM
UaDY73M5LSY13ycNzPfhoBTN+JFLMn5lQhBEio+m/N4ubJxS3J2UlG/wSkkN9T3+MXNKTM8r/23I
2jHmxtt/jzV2X3jqiOGe7sbS2/nC8u5Oq04nHntJSPSlJ+WOm1ypHHOmuVcUjekYP+2Gt39IRENS
rqM4P8B070Lw+Qzg49OeMJoTOg0PNoZ6C1ocMrN/8UjsNinJ+DPTBvpHEv6TCZyCZ5KUUiXTjt+M
/XXpeXbjc2ilH/0U5GEEPGWNv6j4kiPsoDEHylApqkA3yLNCqUTS5GNBcqcRXsjFhOcBsouchhM1
9AwrLwn0NDSReLKISppIJU2jw5KgkQaIWBclq7UsmJJSPixYUVaRUpoSMOdScYvTpFxF3GLlW74g
K9/i1K2eRVvJhMosQwucPH0BXvPEjXEVTnlcmfZQ25jF971aHPa/fy15I8/Gu5SAOyHB/bq+1Tu8
nJ6n8fHaCRV1o5Rvz2i4/2Q+wdf8RH4af+w6ewR8TebzE7u6QGY3cocAG8+FnZiIUuVkBhDx9FjU
qZBrBpeVaVdUAorPnVVqKykrzXKLFqJ5ccOGF9c/vKGra0OnMHf9i+vXv3ihi75i8nIKV3GfcWdg
3RJRmRwY2EcBgBkRZgI2kcRJgMakdg2WRGlMfHx8Ynyi2qrHoGUnVsHqBJgd8ggwaxJQOyzcqNzb
qJwkn5MnGj/5pP6jPazXwSnuLFcezc2rNQC0D0t5h/KNk/9oOUg2SEKrYuIPcdtROqqUy2GZqavm
AD+eHnqk9YC4IVEPdljA9elpYGZGx/yKmA3INftYaMrsC3qNqra5LAPrk+zwOeQ4Lr6hI3zcQxOv
ehrUKPxZR6jbLjoUkyDZrE2ReZNHlXvIzL7gxgPV3S4XmaZ0q2dOQfD3A04wIAvaQyuzCAeyTCuQ
NDSo1qDiBGdfgxW6WAKrdKGFqcxm9lckXXUYq01Ki42gb9JzWjMHvg8QwWoEoowWI7CKVsohAzao
2kmKxujU1DjGRo+ZHP3aiq0XAvjwje9uvvP32L2VCHPuP39rhcVSQRrbHrth/uEp5/7Inz3vUms3
juMpXDJ5dUBNRaxHBZ7yzIkTbMxnSojbieKRHZU9a7MmxGOBJngymCMI4k0FtRSxaCIQgCdHr2E0
tv2ZzGzqD3olta6SLVFIjejRliLk1aKcGavH3lBc15NiDDdukUeMiHPwx0V9TW3pBJ/f4QnM8hWK
ouF3Kv78mLzKfSzQmFMKjXzRUG3fZqHx8RDXbEjEyGZJTDGkaESkx3o1KG6LxZlBY18SEp//5But
T6weu2XR8LMnlm94ZP3izbuEdc/fN/PRG/2TNk/eciqybdvibbt+OHvT4/T5L4EO7u7TwVqJ2WAn
1gJgM9vpvy+ZgVfJJuxez/4wYw9vx7/G7yYpzUo49peai8kHGXuP9bhIBB9qpZyaZDfD2rtd6Wm8
AJKWqNNq1ByQLpZNc7D9ILEaKni0yI7ydccOGQ35Lgt8WBHK9GQ4wQ4m26wmIz37QQtaaDA+JNF2
GXYr3bBa2iFHCgRD1oDVY2VRp6Cr6nnDG1ZsTzmmvB7kNgcUE+5MOdn2zpxjx95WyPvKGfJ6RjG2
7/hBEnaKkUeycyJ/CXLNgQt/wOd6lf9umZ5z5/CNXp/Pt76P7uNRunPR67I9FZbQSJuIDSSZpr2M
tD0Z0MOxIwGw2AIYF56HfcnR81S4ByC02EF7cdGKAJVFOVeMxwK/aNAbrncsLSRol5MNBoQMuYbc
nGxflsvpSLFbKQ+1g/AQBzHNYVPUAJiBsHPIiRi8N3s/I5+gHaaURdg//saCdkearTQwekW4Y/rW
f8U6X5JvCIYSH65pmz4qHDz6L6XVw8bWzbn7DNn3FUyYGuoXhbXIBcinAreBQgHj7E1JAp0SB654
QX4Op8XDQqUBPj6OHjDVA6eq1U4gc5EGsLcG9zcCAfq1QD94Lgk4Ll4b1z2gNQgLqMXHF8XHIjQ1
ff1E/uGPoctWe0Vbku/zceon/Y8/JBDPqhpsFeVlwZLiosI8v81ltGS6zZkuPfPK1BPlTIWxtISq
R0CPmV2Sh7O7htxAZPkfk+fedWxN506/35oTnj+ze2Jz2bC41I+Vv2RbQ6/hecoiurEiX+IOx8m2
f7nh2LFfsI0lNH89rfuGzWXuFx/JmRGuHpEkpuC0kzg+/nzNEDuM4H0Xm/k5/JdAaxoqlYslTMMx
9GBOLNoTO2EDjhfHdDUNxGBurMfsU+tJwSV34IBZYp5SCGysmR2FZXA3xOUcPHhgcew4ffWtWZWW
8lEfrtu+v3EC/+Whgwcjf8Va5e8vtqwbMb2L+D14m7Jw1IL1Gzvua0aceo5bpBJrBTS5TLYnm01g
+QwJ9Cw3O8lNJ8nV/1POc9tYWkbyhvCgZ7rJp+nK3ztJ+pAnu4WvnYeXf7diqPPdKm0f/7+kTfAN
RdsflG/T38VHhqRNnPtYuvLdlqvTdhbsnh050HI52WG1wGRMNHAiMdqY1hb+SdQlqSvn8wqSeXD6
xn+eDmZS5zw3NIUtm9LPnUs/98jVaXwPZaASVIbelF3JYJck2tQQS1xZUSGnkfJzc7K8bpEXhMYk
jPsyFGD/1Qg9IDeJRp41YEo0QjfTKxTJ9YeMrmMwixtlIwm8KQm8qaHGR4dSy4QR7UOZ58/2ZXpS
U8zGhDiUgTPUXol6AuqpmotGkkkNtrMzQoOLCf7AWZJq5vh8bUbRSG9uba6vzJ1W7DDzXLG8zhf2
gTGrvgqDUzK9CQmW9FENRfYMlz3ZmxmfYD5D/zyXMjjTqV6O8v04i2vQ3h8r5JQ0uw2EgR3c1TLp
UsuZxH+SeKVExSskSENuoLSVK1fi91fDP+GhORBesWLlSvj57uQ16f2c+XvUXj8qG73OdJCuVHZY
GaSr/0wQYDmOpgs4BPKAriZY1x4bUHtwSvAGk6vBh/eLVTxlDT0fAa5gmh+B41kGDih1PKkDOgSb
7qXuZ9fy8eHw+DBeN7QqPcb81EPh8ZWV47/76xDcIhefYeee14C/6Ea7ZFsc1hGzjnA6HuCtpKE5
JJHvi87DZR0HXpaERCSJvVra2wtJPDi8Ol2siF8UMWC6aG74+93Cqn8MbleGkx7Utxi9Zhar9YaM
YPpjTKCH9n3qof0ANZsuLmD04OfuVPYcVabdi29SviX30EYEpZ+MwBbl87a/V1pckfK23yYDAz5V
HDEGqEf6rZE7xQWiksAaEpA9ZIV6BlsJsf4YtaCj9DIWJbtNn0AENU9BXbJCGtITeAnIEgVJXBTr
XRuitKBODT0T2teSS02nUQbmXX5b1Lca5G66oa5/uHrS245RTXV5KN+fk+1yGhPjtKgW11L0LHiG
8A2zyIDWG57BunOQkyle6j7OLa7rTjGEG7fKI0bqbL/8cmAnDvsQLTu8m6NOZm5qzMl8MR8vwJ5L
2nMM3sWD+aKs1wXDMilojWynOCtRBFxlAVNIi5lVuPVP7XmRzXJmIZ+EQ4P2vSBfp7/boawYqvuF
cMqpLP/u/qv2wIjR+fH/ezp9kn0IOjlLx7vpSttQdIpzlyvp5yZcF50U46SitXKyFug0aoBOmyQy
OlWE80+mNJdRag95haFoJbf+2al8o3yTrrw/JL1RqDPmKhRzUXpVu5uObpFT4oBi0K6YJGk1jOKo
1f0nk5ynCnE0jzE40bgLzO/ZlatXR8qHJDrMTO/KFefGXm2hidpLg+3bRNQhm6NH/QXWTWOgLP8j
PTV4nk/kE5NZlJduywF9Ncinzvc6lNUDumuo22/9pU02YvP7+J8+P7qdBsyPEzvecypTBsxP3TY1
g8+P7hMj6pKthkQ960jC5nfpHvlHZiiKolE0OtQSBLYNBvJwCZP9vzmVDwbOMyru5Ze1KwEOqnNV
ZdyMpso2k9GQyGrk6Gwvk+9/ZLoajcasMaepCx4V4QET7kvLRcIDJ9wnquFLpkwuvh/tA5WE/Ogu
2WjHPPLaCMf7jQYAa7EDMg4Bc7SdD0dmsoJbCV/RFWrIIYyMZPqSNqvtGTCsL9aMUW6OLyvTQ4+T
JSbQZgns5NslnaM8wQBsVBxrH2V0WSWPES++vIeUouzDe/vbSOHCqq+EOZd2kiLFc0mObDl3amA3
qci/6qZF3lf1MuvNwfyyMnRUdmXAyhlhwibwNoOlgcKC/LycbJ/HHc8LfGMm5qMV/a5o6oAFO2hT
f07glkoiYfUWA4HzNQYy1DzkGF5Y2pfGT3S5XGWuMquDFvNo6BGYwYp5QuZB+39wb2PBmlKc5i7z
gdvlHVmUoc2HK44SZ3a1DzyvdfLmKxqEiO+xch+7K8Ne1DAq3cLKfeirM8rRq7UOgd3AeocwHZiE
8lDbiYFHNv6hJiIpyQLv9STnpeQZ9HySkMSi7qABzddoJPJ5+nsdt16zmYiqKaddb0uRGH0f/5Pp
Aw16Dfq4eFCq065Jn6ppU74vfVQHp6ACNOVZVe/+jyhMdUiiz+soSC0wGcQUKYVRyDTwtdZwZRSQ
nL42nVFNbbn+5jAxWun+D6IGtEXWD9QAMZXoH2yHarEoxupI6ME1Dfi2w+h+vu7R7Nso7KEyt6tW
LmsINeT7XUF3kG5w3VDVeiF8DZHYe62drtx3bUYOufW/c10/b/kob1X7mIqKAG9oo0bxfyRL6Wla
TY4vrSi9yGLSpGpTVW2gmkfu6uzBE6NI7+VrM6HPjNqun2aMvsVO7j32HQPi03ESjtVQaGnoXiId
yvvFuFj5OIg9uDKgvIYrAtFr2BNQPsaVxcpryttBJpez+DXCH5AdeUDH9MomK+aJPzfVES8IvJZW
BPf1B+QIt1Q9kd/XroV9BUdfi+arD1G/pcObmZnnzcsy+UxZrMmezUTZR0vnPOAqqyy1hwLYYrOr
Dfsx5SjxYRu3fu2adV8fXD1jeM/EZUspR6c1B3oitpY6vLOpnXEVH/rxa80TlblTheBk5fFfUAYW
H/7NDNzwLGWqc+OFn645P5VP8VOeRgyUofdid8f5062qjWZ9UJg98aBZssluMdN2YNLlkPV/pR+K
jeUoKLq+Sk8Ucoai7beH7IxCDYqy8+rtUfro+vj/Il1gU4Sr0XWBovTDQ9HFDMlT1yCrjy5qP7xo
jmxJtllpHF+6EsL/r1CWpGaVqC2RrkbbnM+dyt+Ub5xnhyRPtR/PXoNALkqfqtd86AbZ6kiy0zyM
NAjs/18hMUUVSlXFXW0B8UjQWL9dAZ7s1iGpjOm1E9eUT1bPGsU5HXKS2u9QdXAE1pnlEofxH+nP
YmP1Nn1SeVmPFg5RcXxusE4tfaI4WLcWOndqgFpZr8ZstEO2OFJoBxIuDfMCjYOzQ4XqvFNhpMAj
YRaN3hMe0y5f3GV0DD2G0ZVK+yNwSy8f1NcSyoBQti8jnZ7yNfsDEiXZKlkD0aZwhdgaOwmHY+3h
PGTiW/4BjeHa1uDkSAfm38Kti//9TxVdt9/SQBv4vSba1NZwu2fKSYQ8x9D4a7JFuTcy8akftW1o
KTZSm7T44h/494UdaCxaICeOzc3J9giI82WS/uJzZ6xdBjs5op6rojIQOzLnGGxEYOAIMCFjmooL
8/xZXpczk3ZvxwE7LZcFcvho2/9QWUhtN08PhsUOtAZYKafaMASUhMganKi1s+r3TZDdBq9tTsEv
9FkZDXkly5e5xhSWxQmtdZ66NWOVb15TnPsOH/70uTkHZ5W5mgJBLX9Dan7v4pWlt3ibN01pfNSO
q37hcuxNL/QlOw1GX8+kYGu1I0Xgsia1+MfV+5UPL4xkPYlOe4MT3/0yMGnesLpZI9KTeFJg85SM
avFkpTcsKWwfVzI2U/VtWP8XVoeWg0pRmzyBdpLPdaVxopDhTGcdYNRE7PX1gRH4QHGe3+uxWxP1
Og2fI+QwbziEpe/TC+aLdOWbDpxz3R1h1G42F7667r4w/7fopuUt1083Z6Hlf5hcN91qpWDk8+9N
dzPYMj8qQ1PkSSagO8/jBLrdrgxGdyw5fX2US2IwUJDv8ybbjYZ4neiX/BrVF9J+L9pJ+Vce5c/K
5x68+frJP/RMOq5U3kiPfHTdHOjnQQ34SHVoHHpedmTEzhzlY1EYXV3B6bRVlWFOo6PVP7SuKkyz
NaDoEXg/rAiKkyRuDhIFXhD5XlqYqdXxWvatQJ3gDgGDdDpNJ9JowhrQNRVX3g3a9bpubpeT3a7W
lob6Wrm0JM/v87rq3HXUo4of0qPivofALSMahytIvasc6l0VZ2iTiZTqKgPvKhu8q9vkl657MQRP
/3EqcLL6j1OdufD8da8OH10btW4/H+B+u9xmAe4VeF0goZkeN5PQvgT39YmoVhMKFhXm+BzJZpM+
XpOvzdcMdLGun1/YHoUjpuuX0dgJg8jd30NG+T79RPPeQSSjH8umVBDOsvwcEM48fy4IJ7X4SSCc
w2KiRJOKEsE9/SIVK4tuGkIyy/pu7fuWocs/YgipNBpqqoaFigs9LkeKzWIIGoM09x0/SOG1+Xvw
9++sOvsmmucOX7h+0WuJ5cfD4fGRkd9LF4wEPn/G7QGvcRRqRSfVL+nUF/mIwNeZ4nQ80pBGh3pB
23ehXR1GOwdxvMD16nWEi0sgGsRpeujXcoqdEhbFiqZ4Wt/bSQPg7LucQkjQctrLxqP+4UirHfTO
djmtshKhsWPqR1eOqhw1YjjMNuzNsngyPTmZiZpU2p6K9gAnan+qvsMWYXwp5232gNpwi34/YTVm
X+9j5YIsUUxV8LHA+I788NTmFKfBUta2cvhLbSUnOles++6nNVNmlM+yWoOWHNHe2NwbXDormS+8
u6thbr7eaCp2aDiDt65k0m1ry1ataL5/+Ep8pHNbS7bJb04xpZUPzz4sz1287OanCjdv7F+WadMn
zxl1w009aa0Tc1paKjJPLlNe+dpe2BbaUqmePXtRCbHeXSF0q2x2Y44PlhKBU5P3sPOjyftsxNGv
FhB6BzRGEASVieGmS4qtvX1DKWvR9MHuENW+LPDQULbbVJCZQwPTQ2bcY/3V7Fc2XyOb9b6+Sm1D
uGkLS7Xvfol1XHtokHZsjp1XFHG/5f7kSdqFbc2V/dlAbllvM4ZfaOe+EbIMjKGHhCloIfXX6HGW
lcXzWUVZRXm5vJf3ZvtyWI8z2hzw2n3OuFoKzl6+zmZnUWSmXF/Ls38OXfRgxXXQNZeCr/+8Trqi
yOvb70kXxV0+VIJGybWGREaXCrauSVl2tihml2SXFOSJPtGX7fMzyhjIug7ayLYouJp+veT1IatP
r4tCPkqfarcpoq6TRwCiYv32VGN9TRJzczWa3NLc0qICTY4mJ9uXrwplNE14HQ345q9UjbMiXi+V
fbZ573WuY6x/WMv/oH8Y9YX6+4eRb+h2Uk73NRBTd8x53yUdxP43nstK7fv7ltV30Mzwxv7GZUyi
L7gGfS6VWwMqk42J+uiTmdzqr/JkEVSYaCB9vgA3gOaFf/Uonyt/9nzd//SYwF3QX9Y6DShW56DK
lgmFZJqWVuehMiDxKtPQaDQmjYkMwHsDmIAbYwnn3v6ZxITi/JuXzoSgvSDjLmEN7W+DyuUyPeYw
pt+3lmK30Z5pOlwf6+NU0d99PoyaXRnZWRlFrqIsD209j200Dp0ZtR2hLHaY2xdKx+wctwmXVKsH
RFn5FuGdZMnPV76vfDtq6cH2J+bwlQ99mvb6Dx+1TH5n+ntph2/fp1T37q5OHLW9fURvZ6BsymLi
2698s/tP73c+e3fHEv4n9y+o65hfWaxtGz1jdMtNyquRznu+2zdzgnfs5qmT7+0uU+ObrO8X+ENO
VIW2yE4nPWFiAG8oUFIMcLsyXFpUWODPzXG74gQ+VkCYdYVPI9KCUZ41LKho0kgkes7megayIzeG
jIyMqoyqHKsvMyfTyw7U9fk3eGDG6KpNxLiT4MBkBKMJo6LJhfFJRJOaEerPF50drMvYAO9lYpd/
gPNy7otrNSDj1P5jbG/SbxkOyEXRswOD9yFLsgt8eqrdneTWx/M2wSZGlYL5Kr3IuGSqJQ4O0ZCM
aQzl1aHbkv3vzNGHnVfrl8bVUAO6dvA5qtpl1FWm2DdHqmuS1G69sej6ELNMSZbEjPTkzJRMg15M
kpLEPmUjXK2v26xYpIEfYq4xXTTlatPtmy+NIwRQDdosx2X09y5R4wZ5Vwg/z3Nz+hKmFU19aVQW
lPRfORz2yuCj22V7sNTtCpeX1gRr/DmugDtwjUzr1dZu37UCAcrPBmfW0G6/csfQ7OOjvFN1egrK
omdu+zINQyx3qkOrcWc4slKzTAZNijZlQJ408WrE4dqo137/EOsd0/iPXGO9j6BzvIl3sDnH0ROV
6h4CO8Th0VecYR7YHsYXsrNzzOys6IoVyyPvc3OVifAHlw/PVV5rbFTuBVMEn7zt4ot8iPsQJcMu
zaX41455kpPNTjkm6AjNk16Z/ay4JPuZ6fHkZuZmmbJNPpb6jHGGpj77fJb+1KfIusrSxOes2Yso
e27qzO+p7ZgHHFowpaGgO7JILscT6ybccRTPu/vRjcrBZq4r/MtVlFG+8Wsq3t5MWZU8XnF0H60k
a1JfirzyLw/9dlFkTRGzLaz3GtM7qbS7D+0qSbNKYDQtUSPOqxZ8YAO2LNaAjfojQzVh43in8k1n
22Cd2FRtePKq/dj+R/MCICUNOS8/KMH0tYPMS9WArUNPKzYnqv/SaQdwq8XM5pSelmqLQh71uKfx
0lmxI8NM7zmHbFpHWr9yM8ilG2xqMYXXczWmcdH5qXs2g/b4s9usbIYZzvQk1vg3UR/FpKZLp5ir
Lmg04TdkZ738aDWDsmiwWca26dGr8ZD1bGPrakUtss3C+KaT6Lcd0a5tqhv5vXu3qU3wYOHNV/Rv
41ookCZXNHGL4elBm7kRVEz7hAqHYaULaG9y4KCB53iakeTpV5fRg8dJ1PIN2SfUl5/kc7GjOFd2
Bu3vmGy/pEcoXrbx2GUNQiN1m2m3eo1mYJ9Qjr+iP6ilTnxB7Vq/qeXSTqFclOc50TNJ42SakaQ9
hIHrOsb1PhfwezM+aWCmGF/BfNzKADxIzF+uXIB+ID/EGhSCDXpOWI9c8Lj9J90Siev7jpFKJGmQ
RkK9Whotol/wrMMaTbTgif7JCrNZypR9fXlRE4qLi8WbHd/79sDA29tlU6DYn5PpMRpdOS6j2WiO
p+dpbSZ7wOoysgpvMWrnwK7bA6z+mzMGCnj1eyRBvZMzs38g3azcjdeErRmRn8rDlz9zQyCrdfH+
rvrCCziffi/mM/f9lbMVj142euPjvubbxhUJyS3KyYNzIqfSae138up3vljf8+7ru6emWZV8PDfh
vJvsa9yxb8UY5XXllUWnTtJydT/w7wS3B7BaGapFP1W/iMgmc0Qr+XMJ0fpAPXDEgUGwGx3qG5or
3mhXb8uMx1pEOC2ZqcGShDox2DoQ+DiR0G6hAo4ytrBvGBowCmk0Q9zRLntCoSwvRqHaUG1NVWG+
tyyrzJmWkmQxGRI1IsrEmQlqy4NobJQTE7GXBqPVxjz9X1RgLgHjWYNLYwdrMK7GdFNJYEVfH7ve
yWdsmVTTXeYS4hMqlcDu1Q+2mhP3LLqtM/2mScc/n/by2htG5ATF+7YtGDW/Mq1qPfkVz3H27KbA
9DEBLbenqSB7XM7w1tY6e2/8T/+1IyG0rDMz9O2Z1b/afuHR1rLf9Bg3PVTRs7y292dr8G/Ti0YG
ipJbxy1kOlmtaYjVpE2VHcwdtZqZudCyqobLC7f/kcKGFG5AMGbQ4gZcHyvV2DtogcPAMo1Bixww
Hs99xa1h9i/WE4WBeTInCtj77BSMdQFKOsp8VrDefR7rVXoG5lzeM3CgT8ltH9JrVOHvkP7h9+sP
9E8biw7gj/gaNvYa/XTol9Af4B6K3nfxAtz3wfXcx8F9PH8qNrdjXIicFTYiPayVlq2VFC2KsDMn
6+z+hjrPiPJc28RF3On9td1y7dKOco+tc2ndUqTePx7u348S4X6d+n33DKdyko99P/YxuD8lM1zg
sk9cJCD6AWUz60b7HeonwP3KXnIW+9jzBdaHhd4u+dSCDB9prR/9C7sv311WmoR98qLG/zpoy11V
E2gPezWs95WFfMq9BfNPBAusOZFs1LH+YCoNnEqDcAlF3FsDZqQ8vb+RkWePkTdgdrOvIBeepyGf
cceEzTDfNHhekkGr9iNTsblKs3DJK7Juf+MolYMLlVb4260+jv9sf+1M+PjOco8dPn5J9cPsZUfY
bVefBs9SnuCO4ZZLn+W9+rP6VksZ1/+sJ/oosXcuqVtas7//UUvUdUQLL77DT+Ne7O+HI2gJmaNI
+Dv8bRCfw39XaON97uKXFz/kz/z/Y7SG9p24tnNxsIHODzfQFgf2iViheMmWLZsYBUBn6QCJTbpb
EACcZrr/P2U+Cj5Phm0zsJUEW4vKlMSYKPz3NpO6MOIAL7B6AaB6L6h6cHnCCj51hlFAmEn9721h
xkQW5DNmGBlCwHfdFDOYgtZFaDNycvHzgi6w9mLg5GLn4mQv4GZk5+VhAu19TWQFbYwGV+ywaVF9
5EM6gcaZMpiaGBvq6+qoCgoJCmmqCAqBT8UQE1dkV4RsbTAWBpVFDOrKpsZqpkACcl4adDaJiVmR
nTGGnZnxusg/LxGb2M7Q0zHGQhbKmjEBpbbX/z1T621lqa/nNIkpXxIT2BZnKGsuZpW7dMNWPiY+
EaY1uTJ20ZPr3OoZhf9dlFWwUpBiZPtlZ+dtG7dtZYOvlKGSFPi0yn/3//2zBRaX4ky3WU6yFjII
MuiA0osQsN1mADpcVF0ZOsKmDDqvw1gRdqGsuSDoIGj46JuxsDgTlzqPdtaWf6ZbsrR51TZMZtqx
3cXy351++Ub1mdX/Pjv5HG3kYi389/Tu3zf6oqL6TCJ3GaW5eZT/vgDxGB/n//vFWPxPHiwloczz
7xP4/ipwp7uVuRWRtgQVBRWZW/9UgzAAp8wmAgAAeNpjYGDQgcI4hi5GFsZ5TGFMP5jFmL2YG5hv
sbCxqLE4sYSw5LDcYxVirWN9xebGtoFdjD2L/QmHFUcIRw3HFI4DHDc41TifcXlw3eEO497Fo8RT
x/OHN413Fe8vvhi+Vfxi/AX81wRcBPYJegheEDISmiR0S9hJeJnwD5EgkQqRCSLbRM6JvBL5I5oj
ekiMRyxL7JS4mYSYRInEBol/khGSXVJMUnFSS6S5pMukD8goyeTJbJB5JWsi2yV7SU5PbpncMXk7
+S4g3KAgpbBKkUtxiuIxpQylJqVfyhnKfcpLVCxUQlQaVHaonFKVU52iukz1lZqWWoDaGfUyjRqN
U5oWmsu0JLSuaPtoP9LJ0TXQXaInoTdBn0c/Rn+NAZNBlMETwz7Df0Z5Rk+MJ5nwmBiYbDNVMu0z
/WdWZHbBPMz8j0WFxRfLMisXqxPWNTYeNjdsXWw32CnYTbG7YM9j72c/yf6fwzyHD45OjrOcLJwm
OR1x1nGucD7kIuSS4rLDVc61yk3K7Y67k3uE+zwccIv7KfcH7n88JDwsPCI8Kjw2eDzzlPE08AwC
wizPJiD85+XlFeUVBQCBFpPyeNrdW8tzG8l5H60f66UftbuVciWp2nVnD2uyDGJFSitttD4YJEAK
JRCgAVCUUpXDANMgWhrMwDMDUNhLDvElpxxyyCmpyi2+JIccc0p8cWKXj0nlb8ifkEu+V88Lwwe0
1lYqYolsTHd/z9/36B7ScZyP7/zWuePwPxf+8/iO8w584vFbztvOCxl/zdl1fibjrzvvOX8r4284
P3b+UcbfdN51/lvGbzs/d/5Hxt9yfv/On8n4Hce789cy3nL+4o5d823nD976uYy/43z41t/I+Lt/
+PKtf5bxu847H3ws4/ectz/4RMbvO+998AAkvPP1d+DTv35wLOM7zkcfviPjt5zvffgjGX/N+ZMP
/1jGX3fUh38l4284rz78Jxl/01E/sOvfvvOtHzyR8becu2og43ecX6k/l/HWnff/yK75trP/0Z/K
+DvOjz/6Sxl/9/5/fPRrGb/rvH/+dzJ+z/neueX7K+f75/8i439z7p7/p4z/3fn+s7dl/Gvne88+
4PF/fc35vWc/Ogznq8hcTBO1Pd5R+3f3PlWNV9pXp9r3deIG46lWw6le6sCNkpo6WBjfM8GFOnUj
E9dUa2Z8o1XfXLgLr6Zc31dELVaRjnW01N6TwEzUSRiEfX2x8N2oYeJJGG3zRt6380ilq5Qse4Sy
PFh7/FRHsQkDtV+/e/fu56cDdfcuD6dhMg6Dpdqr361/9tnnM/elDpNJ3Tej/fqn9Qf3Hz78FIkh
rV2hlRE3sXJVErmenrnRSxVOVFPH5iJQo1WVNX7zCzaHujTJtGQStX0Mn313MdPqOEJ7fKwOdBD+
5u8TNXCDxLiRt1NTdx/W0db1BvIGe6jtgiV3ruUv3qB9t+NuqphXuL6C3+5uTuHbc7xCX9VYR0h9
miTzR598cnl5WXcJHe587uv6JJIJF0Tanft+Ml3Wk8Vs5Ef1cTj75DrPfFwWEwz6MgnnqhV46gz4
qo4Z6yDWqnERaT3TQbK1tVdXg8XohR4nCIFkCtsKs3toe+WZC5O4vpoYX8fKCy8DPwTkeCoJ1Spc
RApkmy8SjYMgcU0AVgsSFYeT5NKNNNB1E/R6ArRMkKD842QBBOdRONdRskLmLogJa4A4EL4Bhbi2
qG0dpmF3EAa7+tXYX8RmqZUvCl9E4JYYRVVjYIcCikNAgUWsSbCiyCJNECIz5VqbEBxi19dsrvIu
mHSDlZqHUYIhC2tMUletV2M9561kLUbglaxJWrYBOUS04FQTwnqhALkoMckVotQAa76LZNIgj0kp
+qgCdwaeJJHJ3jgTabTMaxkfkLKvDlYpNHAGRRLEeeoIZNuOISrQB2RftCgtC9VIq1G4CERjMImO
ZvE6HsXF6ecaYAkB92IRjMnclJuQQKTH2oDFCXfuGNHpBgYU1u54quaLaDx10aCwOQYTAnIZm7gQ
NNY5f490cql1gHLXNrbK1n49jUIbfMfoXZzZU8/BFjN3BWrECfoWSVhIlC2nEE6Bv4KsHc/12EwM
zAWQGQANYCkbgJCcgBa63QQMtnawDIHWjgJThIFWMcgHmPHDsUtG2z4k66xUFyCxgzaGHJWjNwb4
j/BBEEDQUszXGEhrwF2gvOiEGkVBJl24SICa8vQSJAHYxgtwg4sVyHcxMc0jzAoROvSleqGT7AEw
NzP3AkRKML1gfGEWmqGLw8jTUT214pWWA4SNIw1GAWC9SjgKmCgaFSWNF9HEHetUrjSdxbARiNXU
3J2jOJd6BMML1GEO5TeEUJ1P4cMsXEIhg8WewbBk8T0QC4gY16+p4W48NRHOIXcOYuEaq0v4xLKT
WFybJ+YVUIjNF3ojFVvQIHCaBlsJn7HruyPwuRe5l+D9GNPu0lD+xgAhrXkPJQREGblSwnEawqdp
6HtIcixo4aRk4xxxUAdM70N3NNIexkAmtcZH1XKDmULygBeOFxRvmB9iHVBpgfCPPLA3JFMdY6EC
Oe3CmEgDMMHwl5LArNm3RwA2zNzoDu3tWEUAM2ZucDPKeg8aIQ/iiOMgzuQ1M8zfCnJE5I4pBiZR
OKtWAMBCGAAqkJupkMailTW3wtIuXEjMGbJdsdnXNwPFJQzQe4vEh3wMTkkuw+glGMBAw+RG/orT
KMrqhRB+GOtY0twY4fYFes4kM3dO+ocRaXsf2sk4iQxlSkqu4NRMZ7QWZGDN9WtsIrByjEkOk+YN
/stXP7CZR2OAmLdgYwC+zXia4gTwDt0Tui4PMpuUI5KNbGNJiOcR/JH+2cJECFToSSYTCBuAjK3y
zEZgEdLsazUSW6e+dikHQi8DjRH2YvU57Yc+9CcXM9f42I1RQZ8sIgoyE8CnGTkZ8v69OpgoGhnP
0wF+2isYWkIVrG2WsAMaFfRvrEYuGgRQUm3rJNb+pA7U9gvUBE5X+IdTNAKhBEVIRWDwANMNuCRr
jNugiLQD2CTAbE1h960MNjPq0iV8Q4QCm7SjmYYzcj8kyTgMAM0Irq2t+1SysxjGJ5kpJAtdmdFc
Gx1IGTOvRycEzMNSH3I5DtpqIKFGC7DtIm040a6odyjFcKSnrj/hFGeoa1pxrV/rxtImElamaiK5
WrZhvVfJWrW0nwIfAZLm2H1In1ZV2qXzkKYRV3HIk60WcSL4KiSN1zULWYZzgU9emJqR4cp+dYWZ
SGvLdF+Eozr4sgjEa/0J2/GAityhIdNxbLAiSfZnosV0D+TvEXnMJtSGL5JpyOkNk85ilBob4gJK
rI9VA9hw8FZ3n1gYbOoErM7cABIIGAGa4iCGhJHrz2PJh8UelHGZSbr6vFRMt/d2iEORIgBgtd7Q
1q6QEsFDvT4IYjCabNHjGmKRlwlRU9v7zNbDJB+uePskZX4N+pjd9r2drHNeYsgQYfLVPIlzUMfV
kBkxoUghKXXpW1tw5j0knltbFh/ke2w/R+745e5inrPIVWCDegDp0cfKMA9jataw8iF/ahKmdPPC
MZYd+cYQLKG3smKCMcAQS+q2IHKQKxzIscSxUchn9kyiX82htsQ+Y8MkEhMkO0gRL1wGAMqcIYLC
0557cSrGtDm2CbWWHcDyzR+efCMD0kcUPNgXy3FlPtduRO0+VpVKA9XV2RyBgFIGrs0aOVytbNqw
eEAqKZwIX8Eqxdn1AAGHPoA8nvHa2iqewzCdaCi3YypliyAxfiqa9sqnNq7+6TyGdYh1E3ogMDye
HkLu3jBvUeO1Wf3GvI7qT1wUI+TMyoT5bI7hShdq4jPQFPtvE6xb9QpDXkaIjSBt7+ObArlg4Bmd
W+dWeuqPQh/L5cO6OncjPB8CzjvQ7CWpbzvGHRnfJCtctVff1CaXTFbuaxholZFHzgH0S7EZYQ+Y
GHINCIpH6cjDrpDtKSdRaSgobJEqFhGQmZs9NwWWh+5eyxfpLjhng+K7mCS29yGLepyjTYh9hu+H
1Et72geQReup4xwKYRodQwla1yoO8e67Zpb5s0YKSHhVcU43sgi1tBu88XI0XkzAJIYCI2sKIVNd
QG+MOlBSzs5PVyVB6OtduqAC2lgrN3Q5bARD2c5QvzJwOEDH4dLME+kdWV21r5ADjhhU3X+XoMBt
RVxQDraNVfFCaL1kwsDgFVea9jnUoEgufG6ofRsv0onNNNQELhkjnJ3ZhoeL3gSZFQ2iJpqlmruG
Vm5u/3BENeFKzKYJ9iF0UhuSb/ZUtzdU541+v9EdquHjluq3Bmed4UA9752pk8Zz1TsYNtpddfBc
nQ3a3WNa02kftrqDVlMd9brD7QHGCjw96vVbxz1cMxg2hq0BPRz0Oi3V6DZV69lhByg8RQ4nrWYb
5mHDhgL/MFYH/Vbj8LHqHVmpn9eRdut0SPSKgnTaJ+0hyGmXbnr5BhZ40gITgcynYJhWFxRr97oD
BZyEJihSAwFwmh63T0477VYTOIEB0Lzd3Xb3qA/SgNpgYxB8+Ljdb6rTRn/4XPXbx4+HQOGk1T98
DOQaB+1OGwUFUkftYRepkp26z2lH+/Cs0+ir07P+aW/Qgnjronitp0j6vN3pbKrgAXqzcQBOAmHR
58yr122pVmfQSnkfgtatn54Bm3ajUwO2h+0mmqODGwanrUN4rJqNk8Yx2gOmO2dN9MB5e/i4dzZk
T5DxiFynNxiq034PVITl9KnZGDZkeIBQI3uenvb6w7Num80MrGh+0HgKtNHuoLdqH22q9OMGwPCg
BXsbzadtBDJ5paXApoM2ewAfDc4AaalS6BFrjU6jfaIaxxAZIA6aDeIDJ/KuHbRaTygaclS+Somh
F/isro41HOpcH5pokLJx+KTbO++0msfg78cNFp1oQ1QBZs+6zVZ/MOz1EL8QtI3jfgt4ATQAJwc9
mEZFke+w1T8Z0BpARrMtUUHYHvA2RHu9/BJz7b2kc+iEztxZOZFjnAtn6iSOcradsbMDP/edu86e
8ymMGs4rRzs+jE7ppw/fE8d1Alg5hbFyhvRzCf8DeB7BbA2eHjgLoOs7HnwPgD7ud4lXTPMtZ0bz
hmj0SQYX9ng06xInlZMtpk8afmr4idw85wlQNs4EZk5AlwD+IyUNOxawG7kVPzWI+wTWRaBpXoI8
/x3nEdC5mfaj1E4P0tV27W5p7VOSOoY1OI/76rATvz4HuwzgCY7zT6ewMgEb4/olzO/RXN35DL4+
B8ld5yXQxDUTeIpajGj/p/D/gXPfeQhfn94oV5WWhmztwv8EVrhgEU38IuCoYAWubpIn0GaozQhQ
dFuk/NL5RQEryrkEOgnMXI8ZxOaxzPvkqRnRPCYZGS0fEw1NevzS+QeiPiAJEtiHlNC7NbL2Q7CT
RXkdZLd6MzpUCR+qhJDX11+XtLf8fpe6m1trfrsccDv9duGr2sNvQsfN/IvS3yaj1GkmAZs8cj6B
r0v6qgPtLHO4MDsn7evwJCrtcMVKu7TGJ2QvYWVCGo3gSQSfMK5nsPp1Y+bjG63JCH0Jq9HDmG8D
WKmcM9FXOR1YOSaqMXFqAA20hybLo0234GuPrDcAXiPnBTwfE3/OAqgbc7t6716Ke0WSXhA6XdJ5
QvJrouABzUvY6cNPzjkeccCMtILvC5KZ7TaHT4lowRkyIQ8FgrWAZIxJygSouiQby+vSHEudiFyG
dlj7j8lXLOEcdqL9NNl9lWruijWZDkvOEn+5XGjpXufbuuxm3gHpuwtUXgFtH/ZhXloSD7/k4QtC
byDYZ6sqWhHlLFiMEPbAQihYi11n5aJtAqpR/BS/l3GSZYeYbK4L6LqJF+9E2ivyVkia2CrLdBBv
dYqAV6TrvMA1w1Y+B26udWbbPA6yCCn6It/jhEI/Ktm+RvtR+s2sUpO85hPWbRyVK3mc81Q2qwiL
M4nJzMoZvu2eSBBtvlLkc07Zp3Wriqxh91grFXMc0j8Su23DE64VNg4y/FqMZtRC0k/Td1wdlHzM
KEEfziQj3JQfi1G8Pl+TvGQz3AviOs6hO+ubrAQRZS+Uey4otvnOhec2d7rU87GHNc1MKXYwCsa0
wyKUOceCQs65+bxpKbKP9RXxPaLZS3oapPaufQVY2aKOeL0WlivfcRq7dg9WreeCC4yYlXgjltrl
56QoZ4mbMKfS7IS4XUmvHVOVGVM3bmRfID0D5wbGVLkCcufEctloNzk74842nSFCkWuHOCYigSbe
bD9fqkYI69wc0rapT7TYQYm7kiV2UhxrsUKVfGPJ/qN0RUCcx7n8FEpOtBnp5oy7SO1rI6GWqwVV
tgtJKpZNUb5bik0428Yww9HgpmcgX+Ihkm7A9gpRGqF4KnpByK1awZobQtGFWClJuxdbv2wvNEuj
OKRuVlO3uI7FzTHHOWxM1F2J1oS6hqRQC/KSWqRam8aEpwnlDF1hr/XuLBaOLFmNLORKP1Ujz2nw
ET+9SP0wl9NvKFUVP/PMDJ4t5UTGlD3yvd2XWd8Ta7EkhqK2RljdhdWYd6N0n9U9X4mLusYkK8/p
QudorZU/N6MvX4kMGFtf0FnhTXmxJTcI+W46FHTl9RmTDVw6g3A3jra9lNiP024X7Zv137aCZL7O
88k6BJvLsqgsVscp6Y5zOPLF3vme3qIs3ymV67nNB3XJ0/tykzQinrYOVNlap6s2sTejKczFgEfZ
cZGrb7Z/iOlJdmpJBGWe4Js7Uy0d/CC1Z5linJOaMyYj/rLUgZXRvg2rObPZnttGh6ZzcdkjkdSb
OVFnztau9+RGyJN6lK8HcaV9DfkwlArNfURE0ZPVgQnha7aRBzizZHnACI4RPdmJNC75qoxulZ7a
Tam2WWvOUm1XBbTfhjPLuJQnNvYW1LkbqbHs/0uafSkIMHLDhHMYPflu1NrVI41iuZkL0u8RcbXZ
7Ys05tDfM5I4839I9re+vS83mTH1/SbXU2adK0dqlZ8ttrgH1oXz15jwzliO007OdppfLv6uOvtN
5d4ne85ZzCMPZsjg/G3Eq+V8EksXwZ3dqNRfFOOm3ClHObtluClLUYx5m/lR4p9RFxulGVUJDidS
bTjLlM/yeW2K2SLM7f3qbiS24LNPVSnOdXmJZACV3ovVqfpb/nwf+hOgN6OzpJ/ejWUn9AnZO6tk
yJ/nZrlI5n7/HslyRLMjqmMeaWPn9q5BdLGqehJZS+GxFKuH6el5JLp6aZ+0Ca4TmvPp9p5l279G
tmJ22ix+8l20zQjXZ8VYTn9T8r7tbjhKqm6M2+KR4u2AvUngvTXivpQzoElvZhRFbpy7hQvS7mP9
jmZK2Miify7xFxI3P5e50OP3c6fsqjps11ShotgLbd6juWu1w8pse14v9w7B9sPF80N1H8e31UZ6
8BFZRtON+foNp8Wr9XdYOhmOqB9zCYf5Ls7k7ppWhXP9zXdj6zeRTHPdm1a6WiWH29yrVN2qrd9P
KXmzNSbsmrRHnrzGqb1451G8abS08lU+w9WCamIxf13daXzVaMkwk+8L/FwsTOkdoymc2V/nDDMp
3drm5X1BvVVd4vK6jPj68cnc7RtUqzvfkKGNY9LTzyGxStLrunuW/l5OetubZLfhC6IQFro32+ks
iH8Z2bHUzRrhXqdn1kg+uxt6oiZ4SCq6zrnEnEtoC1IkJHJTFkuHUX1/Hpf6w+vuQfP5ssqmK+fz
G06m25C/d3I6XCfjWKrXbW5oaxva0mae7F4/kvddtjaVT3r5c0g551VZokba7he09dJOPpRMbblP
KjR/vdyX124bcL1Teee8TKtMJnEWV/P0fdJ6Vre0uWe0HUrxRHL9XTpWcn7Pe5jTE5+W80cW9/b2
c0QyvnR2Yd38Coxsmtn4fMDdo5+eGfB8HOdu1uyZz+qf3SRMc78Bk69jVW/5xlJZsENcrVmTkcGI
WObutrjmWF35Dbk9xeWRksVZ+T0JyjKXc0ucVgr2qpE7ziyrZXZnW8T0jjWfAaydq3JEVj3L73vt
rjjtNsdrHWqt8g3YVTd/9p1vRDZIaHVWeUx6os2/XZmT5q7U3yDNy2ajc0Gd3s/P04xgbRkUMgWj
sjpfrda6jXJ+sLKsZ6csfwUFHFkkfpkMwhH6QPrxKr1wfnhtnTByj8Cn23HuVLaQ3wDxK6zGv9Wh
bqCdnf3X99tqHabnzbHYZJV79xAW7t5sv5XdeL3J87ft1633J3KWzu6Lbc+6Krw3zN6b2+qa/YZa
Mc7Yp/b+29B5+2asbobIS9ImkTPg+u19/KUr8tUInuXet87XbJ/dH4Xyez+I1odkg3Nabd8fcj7v
yM1eUhG3HdJmJL9ZhjssrT3Jwm8SJ5cFaYu/X5PPaLeveVnkcO4vnmxG6T1gIl7003ep2Vtp7HPs
XWEen8V3osUbiqzaWlntSYTtnL/ZcysylpdG9839xTovfp/NHt9NOwnszbgX9Qp9tKHazFR8er+a
3Ut75GUjtfk2Xce5nAjXa8ewVGndNY9zffcpqmeV8VnLeaBYvW6r8zrHvBVqFXeDX/43RxFrE0GJ
yVWMqptC7qku5N7Y+iHrlKveP23aCcZypsl+g4rltufKNxvlzHEpVi/eGWLXZuTNgY04S7UqJtZ/
j6xON36b2YPfYmRn9/+rmcJyuy5fZH1w+cbqut8Qus0pU4v29re41rv9WqG/X1DU+oUban+tvhTv
xGbkoVXplDFK987WbnjyJ71Jqtl1CFHUoeVtNaeMk9H8KvCPN0nZOWHzPLvewT6UO6k3K33T6dFv
2PSACmb7htOHrwY8GRLlx06L3uC1nAF0YB14MqCbph58wre2DRgr+HQAMw2I1C5xfE792oA+H+fo
dODJIYy6MNcC3qh3j3htwxNbV3gtziDfY/hp6QyIy5CkyVYOYEWHRih3k97SPwM+HZHhaarDCXFt
y37m8GYt/EOy8gFxb4BMj8laR2u2fi6/NfqM7HNK1rfyXWcRtOgJ/B+KPctUa28cQYiBJyRfl7DU
J/kZMS2SAj3WJj8PSPv+mpzskZpYwO7OVqOOp6Qrask6MQIservQJaBNjmA924a9zThmi6Md2zDf
JA2Q/5CQijuOYW4oMuC+PvmqIfIfwIoOWZktylId0ZNuKmuGpy7RtTwQ8xg7DZo9hXEfvvfIPlzf
uqn1WoTWrkQjcu28cQ8epLGJmnIksWVtnOf16pHGKGmHNFjX+1B83XJ+Crtb4uEGrK+JtofwvZmi
o5NyGIBcLZrlp034ifg6TvHBuzGym2kMnJMfHpOsw0JMZMjLpOuQ5Ydkgz4ho516Pptr0t5G6elB
mtUyfJ6SL9HPZ/C8XUAza5XtHwDFpyK3xTv7GzU7euOefkz8W+LzltilSTLZjJzFSot290jTdiEG
7CqsCZzT1j1lY6SMjQ7ViRN6diw1g61j0cb1w+64KmoHpMGTXG2oluX/q435XuAzyiDHJKeWv17i
m2i2JdacJ5Rbzimym7SbeTcKVs/k5lrFefaMKirmwwHlhF6af7nSojR90rOZZo0D0b4nu61Hrb5D
ondCvrF0OGc0JX6yWpHl7UGBm83t9Yq/Kiz+1SGfYLM3xvy3jUfkL8y6ofzF42f0/a7ziMaPnPv0
12j2by4T+ttHezc3lTeh9jcCNHXNR2lvb9+VXvwvJEmXuQAAeNpd0EdwjHEYx/Hvs9nsJpveo/fe
3vdNNgXBpmzURO8JIcnuEklsLIIIo5MYJjNujHLCIKIOgwNGb4NMOLi46OOAKyvv38Xv8pnnN888
hwcLnfntoTKI8H/eB0uLhBCClVBs2AkjHAcRRBJFNDHEEkc8CSSSRDIppNKFrnSjOz3oSS9604e+
9KM/AxjIIAYzhKEMYzgjGMkoNHQM0kjHSQaZZJHNaMYwlhzGMZ4JuMglj3wKcFPIRCYxmSlMZRpF
FDOdGcxkFrOZw1zmMZ8FLGQRiymhlCUspUysnGA7O7jBIT6wk/3s4zAnJZS9vGUbLTSLjd3c5h1H
OMVPfvCL45zhAfc4yzKWc4ByHlHBfR7yjMc84Skfg197yXNecA4P3zlIO694jZfPfGUPK/CxklVU
Uc1RalhNLX7qCLCGtazjE+vZQD0baWATVzlGI5vZwla+8I1rtHKe63TwRuwSJuHikAiJlCiJlhiJ
lTiJlwRJpI0LXOYKd7jIJe6yi9OSxE1uSbKk0CSpWGyeqvpar25i2APVPk1zacp801znXw1N05S6
0lCmKdOV//YzlJnKLGW20mWqq7u67qj0eQL+ivKyOq9ZGW5Tp9taEPDXdA5Od94f24OOMgAAAAH/
/wAPeNpjYGRgYOBiAAEmBkYgfMjAyAAFAAsPAPIAAHjaY2BkYGDgYtBh0GNgcnHzCWHgy0ksyWOQ
YGABijP8/w8kECwgAACeygdreNqVkMFKw0AQhr9NYiwiRUopUnoI4sGTRZBSD0JCqwebEAg5FS8l
Wi9plaKexKcQTz6EJ4/iA/gOvoMvUCfbFSOIKMv+++8/88/OLApY4YZHrP5hmFLNR5dTWjiiM59j
oWTvUgmGBx5+L0g9jnqJoD8IhoJRHAomcSSYFlE/TQaC2m1LkcL/VWmhFszGybLJBc3xbJSxkU+v
Jmzl51nOtrgsnVG4lUY0OiyxSh1Pcrom0sGV06bPMTPNHZnnnide9c3iXVUWTNVVRxyu9rksc8Ip
Y8540z3VZVfNS4qarm8b9qnzq4rWFA0zd0hUiqyJsi5/+z32n1csmX+TfWG33NGUKR/Y4VlWlxdZ
e6Uean/q15KuGnJrmaljjdeG/5TRLmW0PwB95zJRAAAA) format('woff'), url('fonts/KnifMono-Regular.ttf')  format('truetype'), url('fonts/KnifMono-Regular.svg#KnifMono-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  --space-sm: 15px;
  --space-md: 20px;

  --color-base: #f4f4f4;
  --color-contrast-sm: white;
  --color-contrast-md: #ddd;
  --color-contrast-lg: black;
  --color-pop: blue;
}

html.dark {
  --color-base: black;
  --color-contrast-sm: #424242;
  --color-contrast-md: #ddd;
  --color-contrast-lg: white;
  --color-pop: indianred;
}

body {
  display: flex;
  margin: var(--space-md);
  align-items: start;
  justify-content: space-between;
  /* font-family: 'Space Mono', monospaced; */
  font-family: 'KnifMono-Regular';
  font-size: 0.8rem;
  line-height: 1.34;
  text-rendering: optimizeLegibility;
  background: var(--color-base);
  color: var(--color-contrast-lg);
}

.description {
  max-width: 250px;
  margin-right: var(--space-md);
}

h1 {
  /* font-weight: bold; */
  font-size: 30px;
  margin-top: 0px;
  color: var(--color-pop);
}

canvas {
  border: var(--space-md) solid var(--color-pop);
  background-size: cover;
  background-position: center center;
}

.config {
  margin-left: var(--space-md);
}

section {
  margin-bottom: var(--space-md);
}

a { color: var(--color-pop); }